@import '../../css/imports.less';

@c: .UserRow;

@{c} {
  display: flex;
  flex-wrap: nowrap;
  padding: 9px 19px;

  &-left {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 10px;
    padding-top: 4px;
  }

  &-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: space-between;
    flex: 1;
    height: 36px;
    max-height: 36px;
    margin-right: 6px;
    padding-top: 2px;
    overflow-x: scroll;
    overflow-y: hidden;

    .hideScrollbar;
  }

  &-tag {
    margin-bottom: 4px;
    margin-right: 4px;
  }

  &-right {
    flex-shrink: 0;
  }

  &-image {
    height: 37px;
    width: 37px;
    border-radius: 50%;
  }
}
