@import '../../css/imports.less';

@c: .UserRowSkeleton;

@{c} {
  display: grid;
  position: relative;
  justify-content: space-between;
  grid-template: 'main tags imageContainer' auto / 4fr 2fr 0fr;
  height: 45px;
  width: 100%;
  padding: 8px 13px 7px;
  background: @c-background;
  border-bottom: 1px solid @c-accentLight-hardest;
  column-gap: 10px;

  @media @br-mobile {
    grid-template:
      'main imageContainer' auto
      '. .' 5px
      'tags tags' auto
      'tags tags' auto
      / 1fr 0fr;
    height: unset;
  }

  &-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: main;
    width: 100%;
  }

  &-name {
    height: 10px;
    width: 40%;
  }

  &-details {
    height: 10px;
    width: 80%;
  }

  &-tags {
    display: flex;
    align-items: flex-end;
    grid-area: tags;
    overflow: hidden;
  }

  &-tag {
    height: 12px;
    width: 60px;
    margin-right: 4px;
  }

  &-imageContainer {
    flex-shrink: 0;
    grid-area: imageContainer;
  }

  &-image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
}
