@import '../../css/imports.less';

@c: .UserRow;

@{c} {
  display: grid;
  position: relative;
  grid-template: 'left center right' auto / 1fr 2fr 0fr;
  height: 45px;
  padding: 8px 13px 7px;
  column-gap: 10px;

  @media @br-mobile {
    grid-template:
      'left right' auto
      '. .' 5px
      'center center' auto
      'center center' auto
      / 1fr 0fr;
    height: unset;
  }

  &-left {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    grid-area: left;
  }

  &-center {
    display: flex;
    align-items: flex-end;
    grid-area: center;
    overflow-x: scroll;
    overflow-y: visible;

    .hideScrollbar;
  }

  &-tag {
    margin-right: 5px;
  }

  &-right {
    flex-shrink: 0;
    grid-area: right;
  }

  &-image {
    height: 27px;
    width: 27px;
    border-radius: 50%;
  }

  &-followButton {
    position: absolute;
    height: 20px;
    width: 20px;
    top: -5px;
    right: 9px;
    outline: 2px solid @c-background;
    border-radius: 50%;
  }
}
