@import '../../css/imports.less';

@c: .UserRowSkeleton;

@{c} {
  display: grid;
  position: relative;
  justify-content: space-between;
  grid-template: 'left center right' auto / 1fr 2fr 0fr;
  height: 45px;
  padding: 8px 13px 7px;
  column-gap: 10px;

  @media @br-mobile {
    grid-template:
      'left right' auto
      '. .' 5px
      'center center' auto
      'center center' auto
      / 1fr 0fr;
    height: unset;
  }

  &-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: left;
  }

  &-title {
    height: 10px;
    width: 100%;
  }

  &-url {
    height: 10px;
    width: 100%;
  }

  &-center {
    display: flex;
    align-items: flex-end;
    grid-area: center;
    overflow: hidden;
  }

  &-tag {
    height: 12px;
    width: 60px;
    margin-right: 4px;
  }

  &-right {
    flex-shrink: 0;
  }

  &-image {
    height: 27px;
    width: 27px;
    border-radius: 50%;
  }
}
