@import '../../css/imports.less';

@c: .Clock;

@{c} {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  border: 2px solid @c-base;
  border-radius: 100%;

  &-hour {
    position: absolute;
    height: 25%;
    width: 2px;
    top: calc(25% + 1px);
    left: calc(50% - 1px);
    background: @c-base;
    transform-origin: calc(100% - 1px) calc(100% - 1px);
    border-radius: 0 0 1px 1px;
  }

  &-minute {
    position: absolute;
    height: 40%;
    width: 2px;
    top: calc(10% + 1px);
    left: calc(50% - 1px);
    background: @c-base;
    transform-origin: calc(100% - 1px) calc(100% - 1px);
    border-radius: 0 0 1px 1px;
  }
}
