@import '../../css/imports.less';

@c: .Pagination;

@{c} {
  width: 100%;

  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: @c-background;
    border-top: 1px solid @c-accentLight-hard;
  }

  &-item {
    margin: 0 10px;
    font-weight: @fw-extraBold;
  }
}
