@import '../../css/imports.less';

@c: .Bookmarks;

@{c} {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  grid-area: main;
  .u-blackBars;

  &-header {
    display: flex;
    width: 100%;
    padding: 5px;
  }

  &-sortBy {
    background: @c-background;
  }

  &-bookmarks {
    width: 100%;
    min-height: 50vh;
    padding: 0 5px;
  }

  &-select {
    width: 100%;
  }

  &-myRecentBookmarks {
  }

  &-noResults {
    display: flex;
    justify-content: center;
    font-weight: @fw-semibold;
  }
}
