@import '../../css/imports.less';

@c: .Bookmarks;

@{c} {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  grid-area: main;

  &-header {
    display: flex;
    width: 100%;
    border: 2px solid @c-base;
    border-bottom: none;
  }

  &-main {
    width: 100%;
    min-height: 50vh;
    padding: 20px;
    border: 2px solid @c-base;
  }

  &-select {
    width: 100%;
    border-right: 2px solid @c-base;
  }

  &-myRecentBookmarks {
    padding: 0 20px 20px;
  }

  &-noResults {
    font-weight: @fw-semibold;
  }

  &-pagination {
    width: 100%;
    background: tomato;
  }
}
