@import '../../css/imports.less';

@c: .Home;

@{c} {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  grid-area: main;
  height: 100%;

  &-bookmarks {
    height: 100%;
    width: 100%;
  }

  &-bookmarksItem {
    margin-bottom: 10px;
  }

  &-noResults {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    font-weight: @fw-semibold;
    background: @c-background;
  }
}
