@import '../../css/imports.less';

@c: .Login;

@{c} {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(24, 1fr);
  padding-top: 100px;

  &-content {
    display: grid;
    align-items: center;
    grid-column: 9 / span 8;
    grid-template-columns: repeat(8, 1fr);
  }

  &-h1 {
    grid-column: 1 / span 8;
    text-align: center;
  }

  &-form {
    display: flex;
    flex-direction: column;
    grid-column: 2 / span 6;
    padding-top: 50px;
  }

  &-submit {
    margin-top: 50px;
  }

  &-footer {
    grid-column: 2 / span 6;
    margin-top: 20px;
  }

  &-error {
    color: @c-error;
  }
}
