@import '../../css/imports.less';

@c: .RecentBookmarksReceived;

@{c} {
  padding: 20px;
  overflow: hidden;
  border-bottom: 2px solid @c-base;

  @media @br-tablet {
    border-right: 2px solid @c-base;
  }

  &-list {
    display: grid;
    padding-top: 5px;
    padding-left: 3px;
    overflow: hidden;
    gap: 5px;

    @media @br-tabletHorizontal {
      padding-top: 5px;
    }
  }

  &-item {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;

    .hideScrollbar;
  }

  &-header {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: @fs-medium;
    font-weight: @fw-extraBold;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;

    .hideScrollbar;

    &:hover {
      cursor: pointer;
    }

    @media @br-tabletHorizontal {
      font-size: @fs-normal;
      font-weight: @fw-bold;
    }
  }

  &-triangle {
    stroke: @c-base;
    transform: rotate(90deg);
    transition: transform @td-fast @ease-outQuint;
    stroke-width: 10px;

    &--show {
      transform: rotate(180deg);
    }
  }

  &-favicon {
    height: 8px;
    width: 8px;
    margin-right: 7px;
  }

  &-title {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    margin-right: 10px;
    font-weight: @fw-semibold;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;

    @media @br-tabletHorizontal {
      font-size: @fs-small;
      text-decoration-thickness: 1.5px;
    }

    .hideScrollbar;
  }

  &-link {
    @media @br-tabletHorizontal {
      &:hover {
        text-decoration-thickness: 1.5px;
      }
    }
  }

  &-notification {
    flex-shrink: 0;
    margin-right: 2px;
  }

  &-bookmarkIcon {
    height: 10px;
    width: 10px;
    min-height: 10px;
    min-width: 10px;
    transition: transform @td-fastest @ease, fill @td-fast @ease, opacity @td-fast @ease;

    svg {
      height: 10px;
      width: 10px;
      min-height: 10px;
      min-width: 10px;
    }

    &:hover {
      fill: @c-error;
      cursor: pointer;

      path[data-id='background'] {
        fill: @c-error;
      }
    }

    @media @br-tabletHorizontal {
      //
    }
  }

  &-bookmarkIcon--bookmarked {
    background: @c-background;
    fill: @c-error;

    path[data-id='background'] {
      fill: @c-error;
    }
  }
}
