@import '../../css/imports.less';

@c: .BookmarkListsPopOver;

@{c} {
  &-content {
    padding: 15px;
    background: @c-background;
    outline: 2px solid @c-traslucid--light;
    border-radius: 4px;

    .boxShadowLight;
  }
}
