@import '../../css/imports.less';

@c: .User;

@{c} {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  grid-area: main;

  &-form {
    padding: 20px;
    border: 2px solid @c-base;
  }

  &-top {
    padding: 20px;
    border: 2px solid @c-base;
    border-top: none;
  }

  &-details {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &-detailsItem {
    display: flex;
    align-items: bottom;
    font-weight: @fw-semibold;
  }

  &-image {
    height: 50px;
    width: 50px;
    margin-left: 30px;
    object-fit: cover;
    object-position: center;
    border: 1px solid @c-base;
    border-radius: 50%;
  }

  &-detailsItemData {
    display: flex;
    flex-wrap: wrap;
    font-size: @fs-small;
  }

  &-lineDetails {
    display: flex;
    font-size: @fs-small;
    font-weight: @fw-semibold;
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
  }

  &-bookmarksHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-weight: @fw-extraBold;
    border: 2px solid @c-base;
    border-top: none;
  }

  &-bookmarks {
    width: 100%;
    padding: 10px;
    border: 2px solid @c-base;
    border-top: none;
  }

  &-tag {
    margin: 0 8px 8px 0;
  }

  &-sidebarListUsersFirst {
    padding: 0 20px 20px;
  }
}
