@import '../../css/imports.less';

@c: .User;

@{c} {
  &-sectionUserForm {
    width: 100%;
    padding: 20px;
    background: @c-background;
    border: 2px dashed @gradientColors[black-4];
  }

  &-top {
    width: 100%;
    padding: 20px;
    overflow: hidden;
    background: @c-background;
  }

  &-details {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 10px;
    color: @gradientColors[black-2];
  }

  &-lineDetailsLink {
    color: @gradientColors[black-2];
    transition: color @td-fast @ease;

    &:hover {
      color: @gradientColors[blue-1];
      cursor: pointer;
    }
  }

  &-detailsItem {
    display: flex;
    align-items: bottom;
    margin-bottom: 2px;
    font-weight: @fw-semibold;
    color: @gradientColors[black-2];
  }

  &-detailsItemData {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    color: @gradientColors[black-3];
  }

  &-image {
    height: 50px;
    width: 50px;

    @media @br-mobile {
      height: 50px;
      width: 50px;
    }

    .UserFollowButton {
      height: 18px;
      width: 18px;
    }
  }

  &-lineDetails {
    display: flex;
    margin-bottom: 20px;
    font-size: @fs-small;
    font-weight: @fw-semibold;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    text-overflow: ellipsis;

    .hideScrollbar;
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
  }

  &-bookmarksHeader,
  &-listsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 30px 10px 20px;
    font-size: @fs-medium;
    font-weight: @fw-extraBold;
    color: @gradientColors[black-4];
    background: @c-background;

    @media @br-mobile {
      padding: 10px 15px 10px 15px;
    }
  }

  &-subHeaderLink {
    font-size: @fs-small;
    transition: color @td-fast @ease;

    &:hover {
      color: @gradientColors[blue-1];
      cursor: pointer;
    }

    @media @br-mobile {
      color: @gradientColors[blue-1];
    }
  }

  &-bookmarks,
  &-lists {
    width: 100%;
  }

  &-tag {
    margin: 0 8px 8px 0;
  }

  &-sectionUserDelete {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background: @c-background;
    border: 2px dashed @gradientColors[black-4];
    transition: border @td-fast @ease;

    &:hover {
      border: 2px dashed @c-errorAccent;

      @{c}-sectionUserDeleteTitle,
      @{c}-sectionUserDeleteDescription {
        color: @c-errorAccent;
      }

      @{c}-sectionUserDeleteButton {
        background: @c-errorAccent;
        pointer-events: all;

        &:hover:not(.noClass):not(.noClass) {
          background: @gradientColors[red-1];
        }
      }
    }
  }

  &-sectionUserDeleteLeft {
    padding-right: 40px;
  }

  &-sectionUserDeleteTitle {
    font-size: @fs-medium;
    font-weight: @fw-semibold;
    color: @gradientColors[black-4];
    transition: color @td-fast @ease;
  }

  &-sectionUserDeleteDescription {
    font-size: @fs-small;
    color: @gradientColors[black-4];
    transition: color @td-fast @ease;
  }

  &-sectionUserDeleteButton {
    font-weight: @fw-semibold;
    background: @gradientColors[black-4];
    pointer-events: none;
  }
}
