@import '../../css/imports.less';

@c: .User;

@{c} {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  grid-area: main;
  overflow: hidden;

  &-form {
  }

  &-top {
    width: 100%;
    overflow: hidden;
  }

  &-details {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &-detailsItem {
    display: flex;
    align-items: bottom;
    font-weight: @fw-semibold;
  }

  &-image {
    height: 50px;
    width: 50px;
    margin-left: 30px;
    object-fit: cover;
    object-position: center;
  }

  &-detailsItemData {
    display: flex;
    flex-wrap: wrap;
    font-size: @fs-small;
  }

  &-lineDetails {
    display: flex;
    font-size: @fs-small;
    font-weight: @fw-semibold;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    text-overflow: ellipsis;

    .hideScrollbar;
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
  }

  &-bookmarksHeader,
  &-listsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-weight: @fw-extraBold;
  }

  &-bookmarks,
  &-lists {
    width: 100%;
    padding: 10px;
  }

  &-tag {
    margin: 0 8px 8px 0;
  }

  &-sidebarListUsersFirst {
    // padding: 0 20px 20px;
  }
}
