@import '../../css/imports.less';

@c: .MainHeader;

@{c} {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-filter {
    display: flex;
    align-items: center;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &-filterName {
    margin: 0 5px;
  }

  &-filterName,
  &-filterIcon {
    transition: fill @td-fast @ease, color @td-fast @ease;

    &:hover {
      color: @c-accent;
      fill: @c-accent;
      cursor: pointer;
    }
  }

  &-filterIcon {
    height: 10px;
    width: 10px;
    margin: 2px 0 0;
    opacity: 0.2;
    transition: opacity @td-fast @ease;

    &--active {
      opacity: 1;
    }
  }
}
