@import '../../css/imports.less';

@c: .Disclaimer;

@{c} {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  @media @br-mobile {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }

  &-content {
    grid-column: 4 / span 6;
    margin-bottom: 20px;
    padding: 70px;
    background: @c-background;
    border-radius: 8px;
    box-shadow: 5px 5px 50px 0 @gradientColors[black-5];

    @media @br-mobile {
      padding: 50px 20px 20px;
    }
  }

  &-title {
    padding-bottom: 50px;
    font-size: @fs-huge;
    font-weight: @fw-extraBold;
    line-height: @fh-huge;
    text-align: center;
    color: @gradientColors[black-2];
    background: @c-background;

    @media @br-mobile {
      line-height: @fh-big;
    }
  }

  &-part {
    padding-bottom: 20px;
    background: @c-background;
  }

  &-subHeader {
    margin-bottom: 10px;
    font-size: @fs-mediumBig;
    font-weight: @fw-bold;
    line-height: @fs-mediumBig;
  }

  &-paragraph {
    //
  }
}
