@import '../../css/imports.less';

@c: .Disclaimer;

@{c} {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-top: 40px;

  &-content {
    grid-column: 4 / span 6;
  }

  &-part {
    margin-bottom: 10px;
    padding: 20px;
    background: @c-background;
    border-radius: 4px;

    .boxShadow;
  }

  &-title {
    font-size: @fs-big;
    font-weight: @fw-bold;
    line-height: @fs-huge;
  }

  &-secondHeader {
    font-size: @fs-mediumBig;
    font-weight: @fw-bold;
    line-height: @fs-mediumBig;
  }

  &-paragraph {
    margin-top: 10px;
  }
}
