@import '../../css/imports.less';

.UserUser {
  &-image {
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: center;
    border: 1px solid @c-base;
    border-radius: 50%;
  }

  &-detail {
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &-tag {
    margin: 0 8px 8px 0;
  }
}
