@import '../../css/imports.less';

@c: .Bookmarker;

@{c} {
  position: relative;

  &:hover {
    cursor: pointer;

    @{c}-bookmark--filled {
      opacity: 0;
    }

    @{c}-bookmark--empty {
      fill: @gradientColors[blue-1];
      cursor: pointer;

      path[data-id='background'] {
        fill: @gradientColors[blue-1];
        transform: scale(1.1);
        transform-origin: 50% 50%;
      }

      @media @br-mobile {
        fill: @gradientColors[black-4];

        path[data-id='background'] {
          fill: @c-transparent;
        }
      }
    }

    @{c}-remove {
      opacity: 1;
      transform: rotate(-45deg);
    }
  }

  &-bookmark,
  &-remove,
  &-loader {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: transform @td-fast @ease, opacity @td-fast @ease;
  }

  &-bookmark {
    background: @c-transparent;

    path[data-id='background'] {
      transform: scale(1.1);
      transform-origin: 50% 50%;
      transition: fill @td-fast @ease;
    }

    &--empty {
      fill: @gradientColors[blue-4];

      @media @br-mobile {
        fill: @gradientColors[black-4];
      }

      path[data-id='background'] {
        fill: @c-transparent;
      }
    }

    &--filled {
      fill: @gradientColors[blue-1];

      path[data-id='background'] {
        fill: @gradientColors[blue-1];
      }
    }
  }

  &-remove {
    opacity: 0;
    outline: 2px solid @c-transparent;
    fill: @c-error;
    border-radius: 50%;

    path[data-id='background'] {
      fill: @c-transparent;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &-loader {
    &:after {
      border-color: @gradientColors[blue-1];
    }

    span {
      background: @gradientColors[blue-1];
    }
  }
}
