@import '../../css/imports.less';

@c: .Link;

@{c} {
  &-subHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    font-size: @fs-medium;
    font-weight: @fw-semibold;
    color: @gradientColors[black-4];

    @media @br-mobile {
      padding: 10px 15px;
    }
  }

  &-content {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
    padding-left: 24px;

    @media @br-tabletHorizontal {
      display: unset;
      grid-template-columns: unset;
      gap: unset;
    }
  }
}
