@import '../../css/imports.less';

@c: .SidebarLeftDocs;

@{c} {
  position: relative;
  position: sticky;
  height: 100vh;
  top: 60px;
  padding: 26px;
  font-size: @fs-medium;
  background: @c-background;

  &-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    white-space: nowrap;
  }

  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: @fw-bold;
    color: @c-accentLight;
    transition: color @td-fast @ease;

    &:first-child {
      margin-top: 0;
    }

    &--active,
    &:hover {
      color: @gradientColors[blue-1];
      cursor: pointer;

      @{c}-itemIcon {
        fill: @gradientColors[blue-1];
      }

      @{c}-triangleIcon {
        fill: @gradientColors[blue-1];
      }
    }
  }

  &-subItems {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height @td-slow @ease, opacity @td-normal @ease;

    &--opened  {
      max-height: 1000px;
      opacity: 1;
      transition: max-height @td-slow @ease, opacity @td-normal @ease;
    }
  }

  &-subItem {
    padding-left: 45px;
    font-weight: @fw-semibold;
  }

  &-itemIcon  {
    position: relative;
    flex-shrink: 0;
    height: 15px;
    width: 15px;
    margin-right: 16px;
    fill: @c-accentLight;
    transition: fill @td-fast @ease;
  }

  &-itemDescription {
    flex: 1;
  }
}
