@import '../../css/imports.less';

@c: .Lists;

@{c} {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: main;

  &-header {
    display: flex;
    width: 100%;
  }

  &-lists {
    width: 100%;
    min-height: 50vh;
  }

  &-sidebarListUsersFirst {
    // padding: 0 20px 20px;
  }
}
