@import '../../css/imports.less';

@c: .Lists;

@{c} {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    padding: 8px 30px 8px 15px;
    font-weight: @fw-bold;
    white-space: nowrap;
    color: @gradientColors[black-3];
    background: @c-background;
  }

  &-headerTitle {
    display: flex;
    align-items: center;
    flex: 1;
    padding-left: 15px;

    svg {
      flex-shrink: 0;
      height: 14px;
      width: 14px;
      margin-right: 12px;
      fill: @gradientColors[black-3];
    }
  }

  &-separator {
    height: 100%;
    width: 2px;
    margin: 0 24px;
    background: @gradientColors[black-4];
    border-radius: 2px;
  }

  &-lists {
    height: 100%;
    width: 100%;
  }

  &-select {
    flex: 10;

    @media @br-mobile {
      padding-right: 8px;
    }
  }
}
