@import '../../css/imports.less';

@c: .Lists;

@{c} {
  &-header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 5px;
    background: @c-background;
    border-bottom: 1px solid @c-accentLight-hard;
  }

  &-lists {
    height: 100%;
    width: 100%;
  }
}
