@import '../../css/imports.less';

@c: .UserFollowButton;

@{c} {
  position: relative;

  &-followed,
  &-notFollowed,
  &-loader {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: transform @td-fastest @ease, fill @td-fastest @ease, opacity @td-fastest @ease;

    path[data-id='background'] {
      opacity: 1;
      fill: @c-background;
    }
  }

  &:hover {
    cursor: pointer;

    @{c}-userLogo {
      opacity: 0;
    }
  }

  &-loader {
    outline-color: @gradientColors[blue-1];

    span {
      background: @gradientColors[blue-1];
    }
  }

  &-notFollowed {
    fill: @c-accentLight;

    &:hover {
      fill: @gradientColors[blue-1];
    }

    &--recentlyChanged {
      &:hover {
        fill: @c-accentLight;
      }
    }
  }

  &-followed {
    fill: @gradientColors[blue-1];

    &:hover {
      fill: @c-error;
      transform: rotate(-45deg);
    }

    &--recentlyChanged {
      &:hover {
        fill: @gradientColors[blue-1];
        transform: rotate(-0);
      }
    }
  }
}
