@import '../../css/imports.less';

@c: .Header;

@{c} {
  display: grid;
  justify-content: space-between;
  align-items: stretch;
  flex-shrink: 0;
  grid-template:
    'brand navigation user' auto
    / 0fr 1fr 0fr;
  height: 80px;
  padding: 0;
  background: @c-background;
  border: 2px solid @c-base;

  @media @br-tablet {
    height: auto;
  }

  &-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: brand;
    padding: 0 40px 0 20px;
    font-size: @fs-big;
    text-decoration-thickness: 3px;

    &:hover {
      text-decoration-thickness: 3px;
    }

    @media @br-tabletHorizontal {
      padding: 0 20px 0 20px;
      font-size: @fs-mediumBig;
    }

    @media @br-tablet {
      padding: 10px;
    }
  }

  &-logo {
    height: 35px;
    margin-right: 15px;

    @media @br-tabletHorizontal {
      height: 30px;
      margin-right: 10px;
    }

    @media @br-tablet {
      margin-right: 0;
    }
  }

  &-title {
    @media @br-tablet {
      display: none;
    }
  }

  &-navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex: 1;
    grid-area: navigation;
  }

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    grid-area: item;
    padding: 20px;
    font-size: @fs-big;
    font-weight: @fw-black;
    white-space: nowrap;
    border-left: 2px solid @c-base;
    text-decoration-thickness: 3px;

    &:hover {
      text-decoration-thickness: 3px;
    }

    @media @br-tabletHorizontal {
      font-size: @fs-mediumBig;
      text-decoration-thickness: 2px;

      &:hover {
        text-decoration-thickness: 2px;
      }
    }

    @media @br-tablet {
      padding: 10px;
      font-size: @fs-normal;
    }
  }

  &-user {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: user;
    width: 80px;
    padding: 5px;
    border-left: 2px solid @c-base;

    @media @br-tablet {
      width: auto;
    }
  }

  &-userLogo,
  &-userImage {
    position: relative;
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;

    @media @br-tablet {
      height: 35px;
      width: 35px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &-userImage {
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 0 2pt @c-base;

      @media @br-tabletHorizontal {
        box-shadow: 0 0 0 1.5pt @c-base;
      }
    }
  }

  &-loader {
    height: 30px;
    width: 30px;
    margin: 5px;
    stroke: @c-base;
    border-radius: 50%;
  }
}
