@import '../../css/imports.less';

@c: .Header;

@{c} {
  margin: 0 50px;

  &-navigation {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    border-bottom: 1px solid black;
  }

  &-item {
    //
  }

  &-languages {
    //
  }

  &-language {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &-languageActive {
    font-weight: @fw-bold;
  }
}
