@import '../../css/imports.less';

@c: .Header;

@{c} {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  height: 80px;
  background: @c-background;

  &-content {
    //
  }

  &-brand {
    padding: 0 40px 0 20px;
  }

  &-logo {
    height: 35px;
    margin-right: 15px;
  }

  &-title {
    transform: translateY(2px);
  }

  &-navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
  }

  &-user {
    width: 60px;
  }

  &-userLogo,
  &-userImage {
    position: relative;
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
    }
  }

  &-userImage {
    &:hover {
      box-shadow: 0 0 0 2pt @c-base;
      cursor: pointer;
    }
  }

  &-loader {
    height: 30px;
    width: 30px;
    margin: 5px;
    stroke: @c-base;
    border-radius: 50%;
  }

  &-bar {
    font-size: @fs-medium;
    font-weight: @fw-semibold;
    line-height: @fh-medium;
  }

  &-item {
    font-weight: @fw-black;
    white-space: nowrap;
  }

  &-link {
    text-decoration-thickness: 3px;

    &:hover {
      cursor: pointer;
      text-decoration-thickness: 3px;
    }
  }
}
