@import '../../css/imports.less';

@c: .NoResults;

@{c} {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 100%;
  padding: 10px;
  font-size: @fh-normal;
  font-weight: @fw-semibold;
  color: @gradientColors[blue-1];
  background: @c-background;
  border-radius: 8px;
}
