@import '../../css/imports.less';

@c: .NoResults;

@{c} {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  font-size: @fh-small;
  font-weight: @fw-semibold;
  color: @gradientColors[blue-1];
}
