@import '../../css/imports.less';

@c: .Extension;

@{c} {
  display: grid;
  grid-template:
    'title title' auto
    'firefox chrome' auto
    / 1fr 1fr;
  max-width: 750px;
  margin: 50px auto;
  gap: 20px;

  @media @br-tablet {
    grid-template:
      'title' auto
      'firefox' auto
      'chrome' auto
      / 1fr;
    margin: 0;
    padding-top: 0;
  }

  &-title {
    grid-area: title;
    margin: 0;
    padding: 20px;
    font-size: @fs-biggest;
    font-weight: @fw-bold;
    line-height: @fh-huge;
    text-align: center;
    background: @c-background;
    border-radius: 4px;

    .boxShadow;

    @media @br-tablet {
      font-size: @fs-bigger;
      font-weight: @fw-bold;
      line-height: @fh-biggest;
    }

    @media @br-mobile {
      padding: 10px;
      font-size: @fs-big;
    }
  }

  &-extension {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 60px;
    background: @c-background;
    box-shadow: 5px 5px 50px 0 @gradientColors[black-5];
    border-radius: 8px;

    &:first-child {
      margin-left: auto;
    }

    @media @br-tablet {
      max-width: unset;
      padding: 40px 80px;

      .boxShadow;
    }

    @media @br-mobile {
      padding: 40px 30px;
    }
  }

  &-extensionFirefox {
    grid-area: firefox;
  }

  &-extensionChrome {
    grid-area: chrome;
  }

  &-subTitle {
    padding-bottom: 20px;
    font-size: @fs-bigger;
    text-align: center;

    @media @br-mobile {
      font-size: @fs-mediumBig;
    }
  }

  &-icon {
    display: inline;
    height: @fs-bigger;
    width: @fs-bigger;

    @media @br-mobile {
      height: @fs-big;
      width: @fs-big;
    }
  }

  &-text {
    padding-bottom: 35px;
  }

  &-button {
    margin: 0 auto;
  }
}
