@import '../../css/imports.less';

@c: .FullPage;

@{c} {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: @gradientColors[yellow-6];
  border: 2px solid @c-base;
  border-top: none;
  border-bottom: none;

  &-content {
    .calcgrid(@property: width; @columns: 12; @parentColumns: 12; @addGutter: 0; @hasParentPaddings: 0);

    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
