@import '../../css/imports.less';

@c: .FullPage;

@{c} {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 10px;
  background: @gradientColors[blue-4];
  border-radius: 4px;

  &-content {
    .calcgrid(@property: width; @columns: 12; @parentColumns: 12; @addGutter: 0; @hasParentPaddings: 0);

    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
