@import '../../css/imports.less';

@c: .SidebarListTags;

@{c} {
  position: relative;
  padding: 20px;
  background: @c-background;
  background: @c-background;

  &:after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    border-bottom: 1px solid @c-accentLight-hard;
  }

  @media @br-tablet {
    border-right: 2px solid @c-base;
  }

  &-header {
    font-size: @fs-medium;
    font-weight: @fw-extraBold;

    @media @br-tabletHorizontal {
      font-size: @fs-normal;
      font-weight: @fw-bold;
    }
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
  }

  &-tag {
    margin-bottom: 6px;
    margin-right: 6px;
  }
}
