@import '../../css/imports.less';

@c: .SidebarListTags;

@{c} {
  padding: 20px;
  border-bottom: 2px solid @c-base;

  @media @br-tablet {
    border-right: 2px solid @c-base;
  }

  &-header {
    font-size: @fs-medium;
    font-weight: @fw-extraBold;

    @media @br-tabletHorizontal {
      font-size: @fs-normal;
      font-weight: @fw-bold;
    }
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
  }

  &-tag {
    margin-bottom: 6px;
    margin-right: 6px;
  }
}
