@import '../../css/imports.less';

@c: .SidebarListTags;

@{c} {
  padding: 20px;
  border-bottom: 2px solid @c-base;

  &-tags {
    display: flex;
    flex-wrap: wrap;
  }

  &-tag {
    margin-bottom: 6px;
    margin-right: 6px;
  }
}
