@import '../../css/imports.less';

@c: .SidebarListTagsSkeleton;

@{c} {
  display: flex;
  width: 100%;

  &-item {
    margin-bottom: 4px;
    margin-right: 4px;

    span {
      color: transparent;
    }
  }
}
