@import '../../css/imports.less';

@c: .SignUp;

@{c} {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(24, 1fr);
  padding-top: 100px;

  @media @br-mobile {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }

  &-content {
    align-items: center;
    grid-column: 8 / span 10;
    margin-bottom: 20px;
    padding: 70px 40px;
    background: @c-background;
    border-radius: 8px;
    box-shadow: 5px 5px 50px 0 @gradientColors[black-5];

    @media @br-mobile {
      margin-top: 0;
    }
  }
}
