@import '../../css/imports.less';

@c: .FAQ;

@{c} {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-top: 100px;

  &-left {
    grid-column: 0 / span 3;
  }

  &-content {
    grid-column: 4 / span 6;
  }

  &-title {
    padding-bottom: 50px;
    font-size: @fs-huge;
    font-weight: @fw-bold;
    line-height: @fs-huge;
  }

  &-item {
    padding-bottom: 20px;
    user-select: none;
  }

  &-question {
    font-size: @fs-mediumBig;
    font-weight: @fw-bold;
    line-height: @fh-medium @fs-mediumBig;

    &:hover {
      cursor: pointer;
    }
  }

  &-answer {
    padding: 10px 0 0 15px;
  }
}
