@import '../../css/imports.less';

@c: .FAQ;

@{c} {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-top: 40px;

  @media @br-mobile {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }

  &-content {
    grid-column: 4 / span 6;
  }

  &-title {
    margin-bottom: 10px;
    padding: 20px;
    font-size: @fs-big;
    font-weight: @fw-bold;
    background: @c-background;
    border-radius: 4px;

    .boxShadow;

    @media @br-mobile {
      line-height: @fh-big;
    }
  }

  &-item {
    margin-bottom: 10px;
    padding: 20px;
    background: @c-background;
    user-select: none;
    border-radius: 4px;

    .boxShadow;
  }

  &-question {
    font-size: @fs-mediumBig;
    font-weight: @fw-bold;
    line-height: @fh-medium @fs-mediumBig;

    &:hover {
      cursor: pointer;
    }
  }

  &-answer {
    padding: 10px 0 0 15px;
  }
}
