@import '../../css/imports.less';

@c: .FAQ;

@{c} {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-top: 40px;
  padding-bottom: 40px;

  @media @br-mobile {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }

  &-content {
    grid-column: 4 / span 6;
    margin-bottom: 20px;
  }

  &-title {
    margin-bottom: 10px;
    padding: 40px 20px;
    font-size: @fh-biggest;
    font-weight: @fw-extraBold;
    line-height: @fh-huge;
    text-align: center;
    color: @gradientColors[black-2];
    background: @c-background;
    user-select: none;

    @media @br-mobile {
      line-height: @fh-big;
    }
  }

  &-item {
    margin-bottom: 10px;
    padding: 40px;
    background: @c-background;
    user-select: none;
  }

  &-question {
    font-size: @fs-mediumBig;
    font-weight: @fw-bold;
    line-height: @fh-medium @fs-mediumBig;

    &:hover {
      cursor: pointer;
    }
  }

  &-answer {
    padding: 10px 0 0 15px;
  }
}
