@import '../../css/imports.less';

@c: .CookiesBanner;

@{c} {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
  border-radius: 4px;

  .u-blackBars;

  @media @br-mobile {
    padding: 10px;
  }

  &-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    padding: 20px;

    @media @br-mobile {
      border-radius: 4px;
      padding: 0;
    }
  }

  &-textSpan {
    background: @c-background;
  }

  &-textSpanTitle {
    padding: 4px 20px 0 10px;

    @media @br-mobile {
      margin-right: 10px;
    }
  }

  &-textSpanBody {
    padding: 4px 10px;

    @media @br-mobile {
      margin-right: 10px;
    }
  }

  &-buttons {
    padding: 20px;

    @media @br-mobile {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding: 0;
    }
  }
}
