@import '../../css/imports.less';

@c: .Layout;

@{c} {
  position: relative;

  &-modal {
    //
  }

  &-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background: @c-background;
    fill: @c-accent;
    z-index: -1;
    pointer-events: none;
    user-select: none;
  }

  &-content {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    max-width: @lay-maxWidth;
    min-height: 100vh;
    margin: 0 auto;
    padding: 30px @lay-outerPadding;

    @media @br-desktopSmall {
      padding: 30px @lay-outerPaddingSmall;
    }

    @media @br-mobile {
      padding: 30px @lay-outerPaddingMicro;
    }
  }
}
