@import '../../css/imports.less';

@c: .Layout;

@{c} {
  position: relative;

  &-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background: @gradientColors[blue-6];
    fill: @c-accent;
    z-index: -1;
    pointer-events: none;
    user-select: none;
  }
}
