@import '../../css/imports.less';

@c: .Layout;

@{c} {
  padding: 0 @outer-padding;

  @media @desktopSmall {
    padding: 0 @outer-padding-small;
  }

  &-modal {
    //
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }
}
