@import '../../css/imports.less';

@c: .Content;

@{c} {
  display: grid;
  align-items: flex-start;
  flex: 1;
  grid-template: 'sidebarMain sidebarMain sidebarMain main main main main main main sidebarSecond sidebarSecond sidebarSecond' auto;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  border-radius: 4px;

  @media @br-tablet {
    grid-template:
      'sidebarMain sidebarMain main main main main main main main main main main' auto
      'sidebarSecond sidebarSecond main main main main main main main main main main' auto;
  }

  @media @br-mobile {
    grid-template:
      'main' auto
      'sidebarSecond' auto;
  }

  &-sidebarMain {
    grid-area: sidebarMain;
    padding: 5px;
    overflow: hidden;
    background: @c-background;
    border-radius: 4px;

    .boxShadow;

    @media @br-mobile {
      display: none;
    }
  }
}
