@import '../../css/imports.less';

@c: .Content;

@{c} {
  display: grid;
  align-items: flex-start;
  flex: 1;
  grid-template: 'sidebarMain sidebarMain sidebarMain main main main main main main sidebarSecond sidebarSecond sidebarSecond' auto;
  grid-template-columns: repeat(12, 1fr);
  padding: 10px 10px 20px 10px;
  padding-top: 10px;
  background: @gradientColors[blue-4];
  gap: 10px;
  border-radius: 4px;

  .boxShadowLight;

  @media @br-tablet {
    grid-template:
      'sidebarMain sidebarMain main main main main main main main main main main' auto
      'sidebarSecond sidebarSecond main main main main main main main main main main' auto;
  }

  &-sidebarMain {
    grid-area: sidebarMain;
    padding: 5px;
    overflow: hidden;
    background: @c-background;
    border-radius: 4px;

    .boxShadow;
  }
}
