@import '../../css/imports.less';

@c: .Content;

@{c} {
  display: grid;
  align-items: flex-start;
  flex: 1;
  gap: 0 10px;
  grid-template: 'sidebarMain main' auto;
  grid-template-columns: 270px auto;
  padding-top: 20px;
  overflow: hidden;
  transition: grid-template-columns @td-fast @ease;

  &--sidebarLeftClosed {
    grid-template-columns: 100px auto;
  }

  &-sidebarMain {
    grid-area: sidebarMain;

    @media @br-mobile {
      display: none;
    }
  }
}
