@import '../../css/imports.less';

@c: .LanguagesSwitch;

@{c} {
  position: absolute;
  bottom: -47px;
  left: -47px;
  padding: 10px;
  background: @c-background;
  border-radius: 4px;
  box-shadow: 1px -1px 0 1px @c-traslucid--light;
  border: 2px solid @c-base;

  &-language {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &-languageActive {
    font-weight: @fw-bold;
  }
}
