@import '../../css/imports.less';

@c: .LanguagesSwitch;

@{c} {
  position: absolute;
  bottom: -2px;
  left: -12px;
  padding: 10px;

  &-language {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &-languageActive {
    font-weight: @fw-bold;
  }
}
