@import '../../css/imports.less';

@c: .Tags;

@{c} {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: main;

  &-header {
    display: flex;
    width: 100%;
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    min-height: 50vh;
  }

  &-tag {
    margin: 0 8px 8px 0;
  }

  &-sidebarListUsersFirst {
    // padding: 0 20px 20px;
  }
}
