@import '../../css/imports.less';

@c: .Tags;

@{c} {
  &-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 8px 30px 8px 15px;
    background: @c-background;
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    height: 100%;
    width: 100%;
    padding: 50px;
    background: @c-background;
  }

  &-tag {
    margin: 0 8px 8px 0;
  }
}
