@import '../../css/imports.less';

@c: .List;

@{c} {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  grid-area: main;

  &-header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    background: @c-background;
    border-radius: 4px;

    .boxShadow;
  }

  &-notification {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background: @c-alert;
    border-radius: 4px;

    .boxShadow;
  }

  &-notificationText {
    flex: 1;
    font-weight: @fw-bold;
  }

  &-notificationIcon {
    height: 16px;
    width: 16px;
    min-height: 16px;
    min-width: 16px;
    margin-left: 10px;

    .hoverTransition;
  }

  &-notificationIconCross {
    height: 14px;
    width: 14px;
    min-height: 14px;
    min-width: 14px;
    fill: @c-error;
  }

  &-notificationIconCheck {
    fill: @c-success;
  }

  &-headerTitle {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: @fw-extraBold;
    background: @c-background;
    border-radius: 4px;

    .boxShadow;
  }

  &-headerTitleText {
    flex: 1;
  }

  &-headerImages {
    display: flex;
    position: relative;
    align-items: center;
    height: 20px;
  }

  &-headerImagesItem {
    position: relative;
    height: 20px;
    width: 20px;
    overflow: hidden;
    background: @c-background;
    border: 2px solid @c-base;
    outline: 1px solid @c-background;
    transform: scale(1);
    transform-origin: center;
    transition: transform @td-fast @ease-outCustom1;
    border-radius: 50%;
  }

  &-headerImagesItemOwner {
    margin-right: 10px;
  }

  &-headerImagesItemJoined {
    margin-right: -5px;

    &:last-of-type {
      margin: 0;
    }

    &:hover {
      transform: scale(1.15);
      cursor: pointer;
    }

    &--pending {
      border: 2px solid @c-alert;
    }

    &--active {
      border: 2px solid @c-success;
    }
  }

  &-headerImagesItemImage {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    object-position: center;
  }

  &-headerPlusIcon {
    height: 20px;
    width: 20px;
    overflow: hidden;
    background: @c-background;
    outline: 1.5px solid @c-background;
    transform: rotate(0deg);
    box-shadow: 0 0 0 0 @c-base;
    border-radius: 50%;
    transition: fill @td-fast @ease;
  }

  &-joinList {
    height: 20px;
    width: 20px;
    margin-left: 8px;
  }

  &-iconRole {
    height: 20px;
    width: 20px;
    margin-left: 5px;
    fill: @c-accent;
    transition: fill @td-fast @ease;
  }

  &-iconReader,
  &-iconEditor {
    fill: @c-accentLight;
    pointer-events: none;
  }

  &-iconAdmin {
    &:hover {
      fill: @c-success;
    }

    .hoverTransition;
  }

  &-select {
    width: 100%;
    border-right: 2px solid @c-base;
  }

  &-bookmarks {
    width: 100%;
    min-height: 50vh;
  }

  &-sidebarListTagsFirst {
    // padding: 0 20px 20px;
  }

  &-noResults {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: @fw-semibold;
    background: @c-background;
    border-radius: 4px;

    .boxShadow;
  }
}
