@import '../../css/imports.less';

@c: .ListFollowButton;

@{c} {
  position: relative;
  height: 12px;
  width: 12px;
  // outline: 2px solid @c-background;
  border-radius: 50%;

  &-listEdit,
  &-listFollowed,
  &-listNotFollowed,
  &-loader {
    position: absolute;
    height: 100%;
    width: 100%;
    min-height: unset;
    min-width: unset;
    transition: transform @td-fastest @ease, fill @td-fastest @ease, opacity @td-fastest @ease;
    border-radius: 50%;

    path[data-id='background'] {
      opacity: 1;
      fill: @c-background;
    }
  }

  &-listFollowed {
    fill: @c-success;

    &:hover {
      fill: @c-error;
      transform: rotate(-45deg);
    }

    &--recentlyChanged {
      &:hover {
        fill: @c-success;
        transform: rotate(-0);
      }
    }
  }

  &-listNotFollowed {
    fill: @c-accentLight;

    &:hover {
      fill: @c-success;
    }

    &--recentlyChanged {
      &:hover {
        fill: @c-accentLight;
      }
    }
  }

  &-loader {
    background: @c-background;
    fill: @c-alert;
    stroke: @c-alert;
  }
}
