@import '../../css/imports.less';

@c: .Download;

@{c} {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-top: 40px;

  @media @br-mobile {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background: @c-background;
    border-radius: 4px;

    .boxShadow;
  }

  &-content {
    grid-column: 4 / span 6;
  }

  &-title {
    padding-bottom: 30px;
    font-size: @fs-huge;
    font-weight: @fw-bold;
    line-height: @fs-huge;
  }

  &-item {
    padding-bottom: 20px;
    user-select: none;
  }

  &-text {
    //
  }
}
