@import '../../css/imports.less';

@c: .Following;

@{c} {
  &-following {
    height: 100%;
    width: 100%;
  }

  &-icon:not(.noClass) {
    // width: @svgSize-normal;
    // height: @svgSize-normal;
    transform: scaleX(-1);
  }
}
