@import '../../css/imports.less';

@c: .Following;

@{c} {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: main;
  height: 100%;
  border-left: 1px solid @c-accentLight-hard;
  border-right: 1px solid @c-accentLight-hard;

  &-header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 5px;
    background: @c-background;
    border-bottom: 1px solid @c-accentLight-hard;
  }

  &-headerTitle {
    display: flex;
    width: 100%;
    padding: 10px;
    font-weight: @fw-extraBold;
    background: @c-background;
    border-bottom: 1px solid @c-accentLight-hard;
  }

  &-following {
    height: 100%;
    width: 100%;
  }

  &-noResults {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: @fw-semibold;
    background: @c-background;
    border-radius: 4px;

    .boxShadow;
  }
}
