@import '../../css/imports.less';

@c: .CustomHeader;

@{c} {
  display: flex;
  flex-direction: column;
  flex: 1;

  &-content {
    .calcgrid(@property: width; @columns: 12; @parentColumns: 12; @addGutter: 0; @hasParentPaddings: 0);

    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
