@import '../../css/imports.less';

@c: .Docs;

@{c} {
  display: flex;
  font-family: @ff-monospace;
  user-select: none;

  &-sidebar {
    width: 300px;
    margin-top: 0;

    @media @br-mobile {
      display: none;
    }
  }

  &-main {
    max-width: 800px;
    padding: 30px 50px 80vh;

    @media @br-mobile {
      padding: 20px;
    }
  }

  &-linkWithIcon {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
  }

  &-link {
    margin-right: 3px;
    color: @gradientColors[blue-1];
    opacity: 1;
    transition: opacity @td-fast @ease;

    &:hover {
      opacity: 0.85;
      cursor: pointer;
    }
  }

  &-section {
    margin-top: 20px;
    margin-bottom: 20px;

    @media @br-mobile {
      margin-top: 35px;
    }

    &:first-of-type {
      margin-top: 0;
    }
  }

  &-h1 {
    margin-bottom: 30px;
    font-size: @fs-big;

    @media @br-mobile {
      font-size: @fs-bigger;
    }
  }

  &-h2 {
    margin-bottom: 20px;
    font-size: @fs-biggest;
    line-height: @fh-biggest;

    @media @br-mobile {
      font-size: @fs-bigger;
    }
  }

  &-h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: @fs-big;
    line-height: @fh-mediumBig;

    @media @br-mobile {
      line-height: @fh-big;
    }
  }

  &-h4 {
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: @fs-big;
    font-weight: @fw-semibold;
    line-height: @fh-mediumBig;

    @media @br-mobile {
      font-size: @fs-mediumBig;
    }
  }

  &-paragraph {
    margin-bottom: 3px;
    font-size: @fs-normal;
    line-height: @fh-medium;
  }

  &-p {
    list-style: disc;
    list-style-type: disc;
    margin: 0 10px;
  }

  &-iconFirefox {
    display: inline;
    height: 16px;
    width: 16px;
  }

  &-iconChrome {
    display: inline;
    height: 16px;
    width: 16px;
  }
}
