@import '../../css/imports.less';

@c: .Docs;

@{c} {
  display: flex;
  background: @c-background;
  user-select: none;

  &-sidebar {
    position: sticky;
    width: 300px;
    top: 80px;

    @media @br-mobile {
      display: none;
    }
  }

  &-main {
    max-width: 800px;
    padding: 50px;
    padding-bottom: 80vh;

    @media @br-mobile {
      padding: 20px;
    }
  }

  &-link  {
    color: @gradientColors[blue-1];
    opacity: 1;
    transition: opacity @td-fast @ease;

    &:hover {
      opacity: 0.85;
      cursor: pointer;
    }
  }

  &-h1 {
    margin-bottom: 30px;
    font-size: @fs-big;
  }

  &-h2 {
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: @fs-biggest;

    &:first-of-type {
      margin-top: 0;
    }

    @media @br-mobile {
      margin-top: 35px;

      &:first-of-type {
        margin-top: 55px;
      }
    }
  }

  &-h3 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: @fs-big;
  }

  &-h4 {
    margin-top: 40px;
    margin-bottom: 8px;
    font-size: @fs-big;
    font-weight: @fw-semibold;
  }

  &-paragraph {
    font-size: @fs-normal;
    line-height: @fh-medium;
  }

  &-ul {
    list-style: disc;
    list-style-type: disc;
    margin: 15px 10px;
  }

  &-li {
    list-style: disc;
    list-style-position: inside;
    margin-top: 8px;
    padding-left: 1em;
    line-height: @fh-medium;
    text-indent: -1em;
  }

  &-liSecondLevel {
    list-style: circle;
    margin-left: 25px;
    text-indent: 0;
    padding-left: 0;
  }
}
