@import '../../css/imports.less';
@c: .UserForm;

@{c} {
  display: grid;
  grid-template:
    'title title title' auto
    'image . .' 100px
    'image . .' auto
    'imageError . .' auto
    'submitButton . .' auto
    / 3fr 3fr 100px;
  column-gap: 10px;
  row-gap: 10px;

  @media @br-mobile {
    grid-template:
      'title' auto
      'image' auto
      'imageError' auto
      'submitButton' auto
      / 1fr;
  }

  &-statement {
    grid-area: statement;
  }

  &-statementError {
    grid-area: statementError;
  }

  &-image {
    grid-area: image;
    height: 100px;
    width: 100px;
    max-height: 100px;
    max-width: 100px;
    min-height: 100px;
    min-width: 100px;
    overflow: hidden;
    border: 2px dashed @c-base;
    border-radius: 50%;
  }

  &-imageError {
    grid-area: imageError;
  }

  &-submitButton {
    grid-area: submitButton;

    @media @br-mobile {
      margin-bottom: 0;
    }
  }
}
