@import '../../css/imports.less';

@c: .ConnectionRemoved;

@{c} {
  &-title {
    font-weight: @fw-semibold;
  }

  &-text {
    font-size: @fs-small;
  }

  &-user:not(.noClass) {
    font-weight: @fw-medium;
    text-decoration: none;

    .hoverTransition();
  }
}
