@import '../../css/imports.less';

@c: .UserTags;

@{c} {
  &-header {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    height: 40px;
    width: 100%;
    top: 100px;
    margin-bottom: 20px;
    font-weight: @fw-semibold;
    white-space: nowrap;
    color: @c-accentLight;
    overflow: unset;
    z-index: @z-index-1;

    &:before {
      content: ' ';
      position: absolute;
      height: 10px;
      bottom: -10px;
      left: 0;
      right: 0;
      background: @c-background;
      z-index: 1;
    }

    @media @br-mobile {
      top: 70px;
      margin-bottom: 10px;
    }
  }

  &-headerTitle {
    display: flex;
    align-items: center;
    flex: 1;
    color:@c-accent;

    svg {
      flex-shrink: 0;
      height: 14px;
      width: 14px;
      margin-right: 12px;
      fill: @c-accent;
    }
  }

  &-headerLink {
    text-decoration-color: @c-transparent;
    text-decoration-thickness: 2px;
    color: @c-accent;
    transition: text-decoration-color @td-fast @ease;

    &:hover {
      text-decoration-color: @gradientColors[blue-1];
      color: @gradientColors[blue-1];
    }
  }

  &-separator {
    height: 50%;
    width: 2px;
    margin: 0 24px;
    background: @c-accentLight;
    border-radius: 2px;
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    height: 100%;
    width: 100%;

    @media @br-mobile {
      padding: 20px;
    }
  }

  &-tag {
    margin: 0 8px 8px 0;
  }
}
