@import '../../css/imports.less';

@c: .BookmarkUpdateForm;

@{c} {
  display: flex;
  flex-direction: column;

  &-error {
    color: @c-error;
  }

  &-private {
    color: @c-traslucid--hardest;
  }

  &-urlArrow {
    padding-bottom: 9px;
    padding-left: 10px;
    transition: transform @td-fast @ease;

    &:hover {
      transform: translateX(2px);
      cursor: pointer;
    }
  }
}
