@import '../../css/imports.less';

@c: .Home;

@{c} {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-button {
    padding: 10px;
    border: 2px solid;

    &:hover {
      cursor: pointer;
    }
  }
}
