@import '../../css/imports.less';

@c: .ListModal;

@{c} {
  position: relative;
  padding: 60px 100px 40px;
  background: @c-background;
  border-radius: 4px;

  .boxShadow;

  @media @br-tabletHorizontal {
    padding: 60px 100px 40px;
  }

  @media @br-tablet {
    padding: 60px 50px 40px;
  }

  @media @br-mobile {
    width: 100%;
    padding: 50px 40px 40px;
  }

  &-cross {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 20px;
    right: 20px;

    &:hover {
      cursor: pointer;
    }
  }

  &-title {
    margin-bottom: 40px;
    font-size: @fs-big;
    font-weight: @fw-semibold;
    text-align: center;
    color: @gradientColors[blue-1];
    user-select: none;
  }
}
