@import '../../css/imports.less';

@c: .ListRowNewSkeleton;

@{c} {
  .default();

  display: grid;
  position: relative;
  justify-content: space-between;
  grid-template:
    'title tags icons' auto
    'details tags icons' auto
    / 5fr 7fr 1fr;
  height: 60px;
  width: 100%;
  padding: 10px 0 13px;
  column-gap: 27px;
  transition: background @td-normal @ease, border @td-normal @ease;

  @media @br-mobile {
    grid-template:
      'title title icons' auto
      'details details icons' auto
      'tags tags icons' auto
      / 1fr 1fr auto;
    height: 70px;
  }

  &-title {
    display: flex;
    grid-area: title;
    height: 20px;
    width: 50%;
  }

  &-favicon {
    flex-shrink: 0;
    height: 13px;
    width: 13px;
    max-height: unset;
    max-width: unset;
    min-height: unset;
    min-width: unset;
    margin-right: 13px;
    border-radius: 50%;
  }

  &-titleText {
    height: 15px;
    width: 100%;
  }

  &-details {
    grid-area: details;
    height: 10px;
    width: 80%;
    margin-left: 26px;
  }

  &-tags {
    display: flex;
    align-items: center;
    grid-area: tags;
    min-width: 50px;
    padding-bottom: 6px;
    padding-left: 30px;
    overflow: hidden;
  }

  &-tag {
    height: 10px;
    width: 40px;
    margin-right: 20px;
  }

  &-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: icons;
    height: 100%;
    padding-bottom: 6px;
  }

  &-icon {
    height: 15px;
    width: 15px;
    min-height: 15px;
    min-width: 15px;
    margin-left: 29px;
  }
}
