@import '../../css/imports.less';

@c: .Filter;

@{c} {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 10px;

  &-spacer {
    margin: 0 10px;
  }

  &-filter {
    display: flex;
    align-items: center;
  }

  &-filterName {
    margin: 0 5px;
  }

  &-filterName,
  &-filterIcon {
    transition: fill @td-fast @ease, color @td-fast @ease;

    &:hover {
      color: @c-accent;
      fill: @c-accent;
      cursor: pointer;
    }
  }

  &-filterIcon {
    height: 10px;
    width: 10px;
    margin: 2px 0 0;
    opacity: 0;
    transition: opacity @td-fast @ease;

    &--active {
      opacity: 1;
    }
  }
}
