@import '../../css/imports.less';

@c: .BookmarkActions;

@{c} {
  position: relative;
  // height: 50px;
  // width: 50px;

  &-bookmark,
  &-bookmarkEmpty,
  &-bookmarked,
  &-bookmarkRemove,
  &-edit,
  &-loader {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: transform @td-fastest @ease, fill @td-fast @ease, opacity @td-fast @ease;
  }

  &-bookmark {
    background: @c-background;
  }

  &-bookmarked {
    background: @c-background;
    fill: @gradientColors[blue-1];

    path[data-id='background'] {
      opacity: 1;
      fill: @gradientColors[blue-1];
    }
  }

  &-bookmarkRemove {
    opacity: 0;
    background: @c-background;
    outline: 2px solid @c-background;
    fill: @c-error;
    border-radius: 50%;

    path[data-id='background'] {
      fill: @c-background;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &-bookmarkFilled {
    fill: @gradientColors[blue-1];
  }

  &-bookmarkEmpty {
    fill: @gradientColors[blue-1];

    path[data-id='background'] {
      opacity: 1;
      fill: @c-background;
      transition: fill @td-fast @ease;
    }
  }

  &-edit {
    border-radius: 50%;
    opacity: 0;
    background: @c-background;
    outline: 2px solid @c-background;
  }

  &-loader {
    outline-color: @c-error;

    span {
      background: @c-error;
    }
  }

  &:hover {
    @{c}-edit,
    @{c}-bookmarkFilled,
    @{c}-bookmarkEmpty {
      cursor: pointer;
    }

    @{c}-edit {
      opacity: 1;
    }

    @{c}-bookmarkFilled {
      opacity: 0;
    }

    @{c}-bookmarkEmpty {
      fill: @c-error;
      cursor: pointer;

      path[data-id='background'] {
        fill: @c-error;
      }
    }

    @{c}-bookmarked {
      opacity: 0;
    }

    @{c}-bookmarkRemove {
      opacity: 1;
      transform: rotate(-45deg);
    }
  }
}
