@import '../../css/imports.less';

@c: .Subheader;

@{c} {
  &-weather {
    padding-left: 20px;
    background: @gradientColors[green-1];
  }

  &-weatherText {
    filter: contrast(150%);
  }

  &-date {
    white-space: nowrap;
    background: @gradientColors[yellow-1];
  }

  &-clock {
    white-space: nowrap;
    background: @gradientColors[red-2];
  }
}
