@import '../../css/imports.less';

@c: .SubHeader;

@{c} {
  display: flex;
  align-items: flex-end;

  &-navigation {
    .calcgrid(@property: width; @columns: 3; @parentColumns: 12; @addGutter: 0; @hasParentPaddings: 0);
  }

  &-filter {
    .calcgrid(@property: width; @columns: 3; @parentColumns: 12; @addGutter: 0; @hasParentPaddings: 0);
    .calcgrid(@property: margin-left; @columns: 3; @parentColumns: 12; @addGutter: 2; @hasParentPaddings: 0);
  }
}
