@import '../../css/imports.less';

@c: .SubHeaderSeparator;

@{c} {
  flex-shrink: 0;
  height: 100%;
  width: 1px;
  margin: 0 auto;
  background: @gradientColors[black-4];
  border-radius: 2px;

  @media @br-tabletHorizontal {
    visibility: hidden;
  }
}
