@import '../../css/imports.less';

@c: .SubHeaderSeparator;

@{c} {
  height: 100%;
  width: 2px;
  margin: 0 24px;
  background: @gradientColors[black-4];
  border-radius: 2px;

  @media @br-mobile {
    display: none;
  }
}
