@import '../../css/imports.less';

@c: .Followers;

@{c} {
  &-header {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    padding: 8px 30px 8px 15px;
    background: @c-background;
  }

  &-separator {
    height: 100%;
    width: 2px;
    margin: 0 24px;
    background: @gradientColors[black-4];
    border-radius: 2px;
  }

  &-followers {
    height: 100%;
    width: 100%;
  }
}
