@import '../../css/imports.less';

@c: .Followers;

@{c} {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: main;

  &-header {
    display: flex;
    width: 100%;
  }

  &-headerTitle {
    padding: 10px;
    font-weight: @fw-extraBold;
  }

  &-followers {
    width: 100%;
    min-height: 50vh;
  }

  &-sidebarListTagsFirst {
  }
}
