@import '../../css/imports.less';

@c: .LinkCard;

@{c} {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 10px;

  &-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: calc(100% - 150px);
    margin-right: 10px;
    overflow: hidden;
  }

  &-leftTop {
    //
  }

  &-url {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-tags {
    display: flex;
    overflow-x: scroll;
    overflow-y: visible;

    .hideScrollbar;
  }

  &-tag {
    margin: 0 8px 0 0;
  }

  &-right {
    display: flex;
    align-items: flex-start;
    width: 150px;
  }

  &-image {
    height: 100%;
    width: 120px;
    object-fit: cover;
    object-position: center;
    border: 2px solid black;
  }

  &-vote {
    width: 30px;
    margin-top: 1px;
  }
}
