@import '../../css/imports.less';

@c: .LinkCard;

@{c} {
  display: flex;
  justify-content: space-between;

  &-tags {
    display: flex;
  }

  &-tag {
    margin: 0 4px 0 0;
  }

  &-image {
    height: 50px;
    width: 50px;
  }

  &-vote {
    // .default();
  }
}
