@import '../../css/imports.less';

@c: .Main;

@{c} {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  grid-area: main;
  height: 100%;
}
