@import '../../css/imports.less';

@c: .Main;

@{c} {
  .calcgrid(@property: width; @columns: 6; @parentColumns: 9; @addGutter: 0; @hasParentPaddings: 0);
  .calcgrid(@property: margin-right; @columns: 0; @parentColumns: 9; @addGutter: 1; @hasParentPaddings: 0);

  &-content {
    display: flex;
    justify-content: space-around;
  }
}
