@import '../../css/imports.less';

@c: .ListForm;

@{c} {
  display: flex;
  flex-direction: column;

  &-error {
    color: @c-error;
  }

  &-inputField {
    margin-bottom: 20px;
  }

  &-privateTitle {
    margin-bottom: 5px;
    font-size: @fs-small;
    font-weight: @fw-bold;
    color: @gradientColors[black-3];
  }

  &-submit {
    margin: 20px 0;
  }
}
