@import '../../css/imports.less';

@c: .ListForm;

@{c} {
  &-delete {
    background: @gradientColors[red-3];

    &:hover {
      background: @gradientColors[blue-2];
    }
  }

  &-public {
    display: flex;
    align-items: center;
  }

  &-iconPublic {
    margin-left: 10px;
    fill: @gradientColors[blue-4];
    transition: fill @td-fast @ease;

    &--active {
      fill: @gradientColors[blue-1];
    }
  }
}
