@import '../../css/imports.less';

@c: .ListAddUser;

@{c} {
  display: flex;
  height: 20px;
  width: 20px;
  padding: 0;

  &-iconSend {
    height: 100%;
    width: 100%;
    min-height: unset;
    min-width: unset;
    fill: @c-base;
    transition: fill @td-fast @ease;

    &:hover {
      fill: @c-success;
    }
  }

  &-users {
    display: grid;
    max-height: 150px;
    min-width: 150px;
    overflow-x: hidden;
    overflow-y: scroll;
    gap: 5px;

    .hideScrollbar;
  }

  &-usersItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    transition: fill @td-fast @ease;

    &:hover {
      @{c}-usersItemIcon {
        //
      }
    }
  }

  &-usersItemText {
    flex: 1;
    margin-right: 20px;
    font-weight: @fw-semibold;
    transition: color @td-fast @ease;

    .hoverTransition;

    &:hover {
      cursor: pointer;
    }
  }

  &-usersItemIcon {
    margin-left: 5px;
    fill: @gradientColors[black-4];
    transition: fill @td-normal @ease, opacity @td-normal @ease;

    .hoverTransition;

    &:hover {
      fill: @gradientColors[yellow-1];
    }
  }

  &-usersItemIconRemoveFromList {
    margin-left: 5px;
    fill: @gradientColors[black-4];
    transform: rotate(45deg);
    transition: fill @td-normal @ease, opacity @td-normal @ease, transform @td-normal @ease;

    &--inactive {
      fill: @gradientColors[black-4];
      pointer-events: none;
    }

    &--active {
      &:hover {
        fill: @c-error;
      }
    }
  }

  &-usersItem--userIsReader {
    @{c}-usersItemIconReader {
      fill: @c-success;

      &:hover {
        cursor: default;
      }
    }
  }

  &-usersItem--userIsReaderPending {
    @{c}-usersItemIconReader {
      fill: @gradientColors[yellow-1];

      &:hover {
        cursor: default;
      }
    }
  }

  &-usersItem--userIsEditor {
    @{c}-usersItemIconEditor {
      fill: @c-success;

      &:hover {
        cursor: default;
      }
    }
  }

  &-usersItem--userIsEditorPending {
    @{c}-usersItemIconEditor {
      fill: @gradientColors[yellow-1];

      &:hover {
        cursor: default;
      }
    }
  }

  &-usersItemLoader {
    margin-left: 5px;
  }

  &-usersItemLoaderRemove {
    outline-color: @c-error;

    span {
      background: @c-error;
    }
  }
}
