@import '../../css/imports.less';

@c: .ForgotPasswordModal;

@{c} {
  position: relative;
  padding: 60px 150px 40px;
  background: @c-background;
  border-radius: 4px;

  .boxShadow;

  &-cross {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 20px;
    right: 20px;

    &:hover {
      cursor: pointer;
    }
  }
}
