@import '../../css/imports.less';

@c: .UserModal;

@{c} {
  position: fixed;
  width: 293px;
  top: 35px;
  right: 40px;
  padding: 42px 38px 38px 38px;
  opacity: 0;
  background: @c-background;
  transition: transform @td-fast @ease, opacity @td-fast @ease;
  pointer-events: none;
  border-radius: 8px;
  box-shadow: 5px 5px 50px 0 @gradientColors[black-4];

  @media @br-mobile {
    position: fixed;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    padding-top: 80px;
    opacity: 1;
    border: none;
    transform: translateX(100vw);
    pointer-events: unset;
    border-radius: 0;
  }

  &--mounted {
    opacity: 1;
    pointer-events: unset;

    @media @br-mobile {
      transform: translateX(0);
    }
  }

  &-cross {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    top: 25px;
    right: 25px;
    background: @gradientColors[black-5];
    fill: @gradientColors[black-3];
    transition: fill @td-fast @ease;
    border-radius: 50%;
    z-index: 1;

    &:hover {
      cursor: pointer;

      @{c}-crossIcon {
        fill: @gradientColors[black-3];
      }
    }

    @media @br-mobile {
      height: 100px;
      width: 100%;
      top: 0;
      right: 0;
      background: @c-background;
      border-bottom: 2px solid @c-base;
      border-radius: 0;
    }
  }

  &-crossIcon {
    height: 13px;
    width: 13px;
    fill: @gradientColors[black-4];
    transition: fill @td-fast @ease;

    @media @br-mobile {
      position: absolute;
      height: 25px;
      width: 25px;
      top: 37px;
      right: 27px;
    }
  }

  &-userLogo {
    position: absolute;
    height: 35px;
    width: 36px;
    top: 10px;
    left: 10px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    box-shadow: 0 0 0 2pt @c-base;

    &:hover {
      cursor: pointer;
    }

    @media @br-mobile {
      top: 22px;
      left: 22px;
    }
  }

  &-list {
    @media @br-mobile {
      content: ' ';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding-top: 100px;
      overflow-y: scroll;
      border-top: 2px solid @c-base;
      scrollbar-width: none;

      .hideScrollbar;
    }
  }

  &-item {
    padding: 13px 0;
    font-size: @fs-medium;
    font-weight: @fw-semibold;
    user-select: none;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }

    &:hover,
    &--active {
      cursor: pointer;

      @{c}-label {
        color: @gradientColors[blue-2];
      }

      @{c}-icon {
        fill: @gradientColors[blue-2];
      }
    }

    @media @br-mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100px;
      padding: 0 25px 0 15px;
      font-size: @fs-biggest;
      font-weight: @fw-extraBold;
      white-space: nowrap;
      border-bottom: 2px solid @c-base;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  &-label {
    flex: 1;
    color: @gradientColors[black-3];
    transition: color @td-fast @ease;

    @media @br-mobile {
      flex: 1;
      text-decoration: underline;
      text-decoration-color: @gradientColors[blue-1];
      text-decoration-thickness: 4px;
      color: @gradientColors[blue-1];
    }
  }

  &-link {
    @media @br-mobile {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  &-logOut {
    @media @br-mobile {
      //
    }
  }

  &-icon {
    width: 22px;
    max-height: 30px;
    margin-right: 16px;
    fill: @gradientColors[black-3];
    transition: fill @td-fast @ease;

    @media @br-mobile {
      display: inline;
      width: 25px;
      margin-right: 10px;
      fill: @gradientColors[blue-1];
    }
  }

  &-iconLists {
    width: 18px;
    margin: 0 18px 0 2px;

    @media @br-mobile {
      width: 22px;
    }
  }

  &-iconArrow {
    display: none;
    max-height: 30px;
    fill: @c-base;

    @media @br-mobile {
      display: inline;
      width: 30px;
      fill: @gradientColors[blue-1];
    }
  }
}
