@import '../../css/imports.less';
@c: .UserModal;

@{c} {
  position: absolute;
  top: 45px;
  right: 40px;
  padding: 60px 30px 30px;
  background: @c-background;
  border: 2px solid @c-base;
  border-radius: 4px;

  &-cross {
    position: absolute;
    height: 15px;
    width: 15px;
    top: 10px;
    right: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  &-userLogo {
    position: absolute;
    height: 35px;
    width: 36px;
    top: 10px;
    left: 10px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    box-shadow: 0 0 0 2pt @c-base;

    &:hover {
      cursor: pointer;
    }
  }

  &-sessionLogOut {
    &:hover {
      cursor: pointer;
    }
  }

  &-link:not(.noClass) {
    &:hover {
      cursor: pointer;
    }
  }
}
