@import '../../css/imports.less';

@c: .Users;

@{c} {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: main;

  &-header {
    display: flex;
    width: 100%;
    border: 2px solid @c-base;
    border-bottom: none;
  }

  &-users {
    width: 100%;
    min-height: 50vh;
    padding: 20px;
    border: 2px solid @c-base;
  }

  &-noResults {
    font-weight: @fw-semibold;
  }

  &-sidebarListUsersFirst {
    padding: 0 20px 20px;
  }
}
