<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error page</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        background: white;
      }

      pre {
        padding: 40px;
        padding: 20px;
        font-family: Arial, Helvetica, sans-serif;
        background: #fefaee;
        font-style: italic;
        border-radius: 5px;
      }

      .Frame {
        max-width: 80vw;
        margin-bottom: 10%;
        padding: 40px 80px;
        border: 4px solid black;
        box-shadow: 8px 8px 0 -4px white, 8px 8px 0 0 black;
      }

      a {
        text-decoration: underline;
        text-decoration-color: transparent;
        color: black;
        transition: color 0.15s ease, text-decoration-color 0.15s ease;
        text-decoration-thickness: 2px;
      }

      a:hover {
        text-decoration-color: black;
        color: black;
        cursor: pointer;
      }

      p {
        font-size: 16px;
        font-weight: bold;
        line-height: 24px;
      }

      .Heart {
        font-size: 30px;
        text-decoration: none;
      }

      .Heart:hover {
        text-decoration: none;
      }
    </style>
  </head>

  <body>
    <div class="Frame">
      <h1>Something went wrong</h1>
      <p>
        But it is ok.<br />
        On the last miliseconds we were not able to respond to you as you deserve.<br />
        We need to ask you to wait for us. We promise won't be long.<br />
        We promise we will be back soon. And we will be together. Forever.<br />
        Meanwhile, you can go back <a href="/">home</a>, or send us a love letter:
        <a href="mailto:hello@antoniodiaz.me?subject=I also love you">hello@antoniodiaz.me</a>.<br />
        <br />
        With love.
        <br />
        <br />
        <a class="Heart" href="/">♥</a>
      </p>
    </div>
    <script src="/bundle.js"></script>
  </body>
</html>
