@import '../../css/imports.less';

@c: .Sidebar;

@{c} {
  display: block;
  flex: 1;
  grid-area: sidebarSecond;
  // overflow: hidden;

  @media @br-tablet {
    //
  }

  @media @br-mobile {
    display: none;
  }

  > div:last-of-type {
    padding-bottom: 20px;
  }
}
