@import '../../css/imports.less';

@c: .Sidebar;

@{c} {
  display: block;
  flex: 1;
  grid-area: sidebarSecond;
  padding: 5px;
  overflow: hidden;
  background: @c-background;

  .u-blackBars;

  @media @br-tablet {
    //
  }

  > div:last-of-type {
    padding-bottom: 20px;
  }
}
