@import '../../css/imports.less';

@c: .SidebarListUsers;

@{c} {
  &-user {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    overflow: hidden;
  }

  &-userName {
    white-space: nowrap;
  }

  &-userDescription {
    direction: ltr;
    text-align: right;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;

    .hideScrollbar;
  }

  &-userData {
    vertical-align: initial;

    .hoverTransition;
  }

  &-icon {
    margin-right: 1px;
  }
}
