@import '../../css/imports.less';

@c: .SidebarListUsers;

@{c} {
  //
  &-user {
    display: flex;
    justify-content: space-between;
  }

  &-userData {
    .hoverTransition;
  }

  &-icon {
    margin-right: 1px;
  }
}
