/* stylelint-disable */

/* Media queries breakpoints */
@mobile: ~'(max-width: 600px) ';
@greaterThanMobile: ~'(min-width: 600px) ';
@tablet: ~'(max-width: 900px) ';
@greaterThantablet: ~'(min-width: 900px) ';
@desktopSmall: ~'(max-width: 1200px) ';
@desktopMedium: ~'(max-width: 1440px) ';
@desktopLarge: ~'(min-width: 1441px) ';
@desktopShort: ~'(max-height: 620px) ';
