/* stylelint-disable */

/* Media queries breakpoints */
@br-mobile: ~'(max-width: 376px) ';
@br-mobileHorizontal: ~'(max-width: 600px) ';
@br-tablet: ~'(max-width: 750px) ';
@br-tabletHorizontal: ~'(max-width: 900px) ';
@br-desktopSmall: ~'(max-width: 1200px) ';
@br-desktopMedium: ~'(max-width: 1440px) ';
@br-desktopLarge: ~'(min-width: 1441px) ';
