/* stylelint-disable */
@import './breakpoints.less';

.calcgrid(@property: 'width'; @columns: 0; @parentColumns: 12; @addGutter: 0;  @hasParentPaddings: 0) {
  @totalPaddingWidth: @lay-outerPadding * 2 * @hasParentPaddings;
  @totalGutterWidth: @lay-gutter * (@parentColumns - 1);
  @totalFixWidths: @totalPaddingWidth + @totalGutterWidth;
  @guttersWidth: @lay-gutter * (max(@columns - 1, 0));
  @appendedGutter: @lay-gutter * @addGutter;

  @{property}: calc(((100% - @totalFixWidths) / @parentColumns * @columns) + @guttersWidth + @appendedGutter);

  @media @br-desktopSmall {
    @lay-gutter: @lay-gutterSmall;
    @lay-outerPadding: @lay-outerPaddingSmall;

    @totalPaddingWidth: @lay-outerPadding * 2 * @hasParentPaddings;
    @totalGutterWidth: @lay-gutter * (@parentColumns - 1);
    @totalFixWidths: @totalPaddingWidth + @totalGutterWidth;
    @guttersWidth: @lay-gutter * (max(@columns - 1, 0));
    @appendedGutter: @lay-gutter * @addGutter;

    @{property}: calc(((100% - @totalFixWidths) / @parentColumns * @columns) + @guttersWidth + @appendedGutter);
  }

  @media @br-mobile {
    @lay-gutter: @lay-gutterMicro;
    @lay-outerPadding: @lay-outerPaddingMicro;

    @totalPaddingWidth: @lay-outerPadding * 2 * @hasParentPaddings;
    @totalGutterWidth: @lay-gutter * (@parentColumns - 1);
    @totalFixWidths: @totalPaddingWidth + @totalGutterWidth;
    @guttersWidth: @lay-gutter * (max(@columns - 1, 0));
    @appendedGutter: @lay-gutter * @addGutter;

    @{property}: calc(((100% - @totalFixWidths) / @parentColumns * @columns) + @guttersWidth + @appendedGutter);
  }
}
