@import './typography.less';
@import './constants.less';

.default() {
  font-family: @ff-sans;
  font-size: @fs-normal;
  line-height: @fh-normal;
}

body {
  .default();
  .hideScrollbar();

  color: @c-base;
  opacity: 0;
  transition: opacity @td-fast ease;

  // No transitions on load
  &.preload * {
    transition: none !important;
  }

  &.isLoaded {
    opacity: 1 !important;
  }

  &.scrollLocked {
    overflow: hidden !important;
  }
}

a {
  text-decoration: none;
  color: @c-base;

  &:hover {
    text-decoration: none;
    color: @c-base;
  }
}
