/* stylelint-disable */

@font-face {
  font-family: 'DIN Alternate';
  src: url('../assets/fonts/DINAlternate-Bold.woff2') format('woff2'),
    url('../assets/fonts/DINAlternate-Bold.woff') format('woff'),
    url('../assets/fonts/DINAlternate-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../assets/fonts/JosefinSans-Medium.woff2') format('woff2'),
    url('../assets/fonts/JosefinSans-Medium.woff') format('woff'),
    url('../assets/fonts/JosefinSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../assets/fonts/JosefinSans-Bold.woff2') format('woff2'),
    url('../assets/fonts/JosefinSans-Bold.woff') format('woff'),
    url('../assets/fonts/JosefinSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../assets/fonts/JosefinSans-Bold.woff2') format('woff2'),
    url('../assets/fonts/JosefinSans-Bold.woff') format('woff'),
    url('../assets/fonts/JosefinSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../assets/fonts/JosefinSans-Medium.woff2') format('woff2'),
    url('../assets/fonts/JosefinSans-Medium.woff') format('woff'),
    url('../assets/fonts/JosefinSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../assets/fonts/JosefinSans-SemiBoldItalic.woff2') format('woff2'),
    url('../assets/fonts/JosefinSans-SemiBoldItalic.woff') format('woff'),
    url('../assets/fonts/JosefinSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../assets/fonts/JosefinSans-BoldItalic.woff2') format('woff2'),
    url('../assets/fonts/JosefinSans-BoldItalic.woff') format('woff'),
    url('../assets/fonts/JosefinSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../assets/fonts/JosefinSans-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/JosefinSans-SemiBold.woff') format('woff'),
    url('../assets/fonts/JosefinSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../assets/fonts/JosefinSans-MediumItalic.woff2') format('woff2'),
    url('../assets/fonts/JosefinSans-MediumItalic.woff') format('woff'),
    url('../assets/fonts/JosefinSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Black.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-Black.woff') format('woff'),
    url('../assets/fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-ExtraBoldItalic.woff') format('woff'),
    url('../assets/fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-ExtraBold.woff') format('woff'),
    url('../assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-ExtraLightItalic.woff') format('woff'),
    url('../assets/fonts/Montserrat-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-BoldItalic.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-BoldItalic.woff') format('woff'),
    url('../assets/fonts/Montserrat-BoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-ExtraLight.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-ExtraLight.woff') format('woff'),
    url('../assets/fonts/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-BlackItalic.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-BlackItalic.woff') format('woff'),
    url('../assets/fonts/Montserrat-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-Bold.woff') format('woff'),
    url('../assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-Medium.woff') format('woff'),
    url('../assets/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Thin.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-Thin.woff') format('woff'),
    url('../assets/fonts/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Light.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-Light.woff') format('woff'),
    url('../assets/fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-SemiBold.woff') format('woff'),
    url('../assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-LightItalic.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-LightItalic.woff') format('woff'),
    url('../assets/fonts/Montserrat-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Italic.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-Italic.woff') format('woff'),
    url('../assets/fonts/Montserrat-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-Regular.woff') format('woff'),
    url('../assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-MediumItalic.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-MediumItalic.woff') format('woff'),
    url('../assets/fonts/Montserrat-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-ThinItalic.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-ThinItalic.woff') format('woff'),
    url('../assets/fonts/Montserrat-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-SemiBoldItalic.woff') format('woff'),
    url('../assets/fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mosk';
  src: url('../assets/fonts/MoskLight300.woff2') format('woff2'),
    url('../assets/fonts/MoskLight300.woff') format('woff'), url('../assets/fonts/MoskLight300.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mosk';
  src: url('../assets/fonts/MoskExtra-Bold800.woff2') format('woff2'),
    url('../assets/fonts/MoskExtra-Bold800.woff') format('woff'),
    url('../assets/fonts/MoskExtra-Bold800.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mosk';
  src: url('../assets/fonts/MoskExtra-Light200.woff2') format('woff2'),
    url('../assets/fonts/MoskExtra-Light200.woff') format('woff'),
    url('../assets/fonts/MoskExtra-Light200.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mosk';
  src: url('../assets/fonts/MoskNormal400.woff2') format('woff2'),
    url('../assets/fonts/MoskNormal400.woff') format('woff'),
    url('../assets/fonts/MoskNormal400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mosk';
  src: url('../assets/fonts/MoskSemi-Bold600.woff2') format('woff2'),
    url('../assets/fonts/MoskSemi-Bold600.woff') format('woff'),
    url('../assets/fonts/MoskSemi-Bold600.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mosk';
  src: url('../assets/fonts/MoskMedium500.woff2') format('woff2'),
    url('../assets/fonts/MoskMedium500.woff') format('woff'),
    url('../assets/fonts/MoskMedium500.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mosk';
  src: url('../assets/fonts/MoskBold700.woff2') format('woff2'), url('../assets/fonts/MoskBold700.woff') format('woff'),
    url('../assets/fonts/MoskBold700.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mosk';
  src: url('../assets/fonts/MoskUltra-Bold900.woff2') format('woff2'),
    url('../assets/fonts/MoskUltra-Bold900.woff') format('woff'),
    url('../assets/fonts/MoskUltra-Bold900.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mosk';
  src: url('../assets/fonts/MoskThin100.woff2') format('woff2'), url('../assets/fonts/MoskThin100.woff') format('woff'),
    url('../assets/fonts/MoskThin100.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gosha Sans';
  src: url('../assets/fonts/GoshaSans-Regular.woff2') format('woff2'),
    url('../assets/fonts/GoshaSans-Regular.woff') format('woff'),
    url('../assets/fonts/GoshaSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gosha Sans';
  src: url('../assets/fonts/GoshaSans-Bold.woff2') format('woff2'),
    url('../assets/fonts/GoshaSans-Bold.woff') format('woff'),
    url('../assets/fonts/GoshaSans-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
