@import './breakpoints.less';

.hideScrollbar() {
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome Safari */
    width: 0;
    background: transparent;
  }
}

.hoverTransition(@a) {
  &:hover {
    opacity: @a;
    transition: opacity @td-fast @ease;
    cursor: pointer;
  }
}
