body {
  font-family: @ff-sans;
  font-size: @fs-base;
  color: @c-black--accent;
  opacity: 0;
  background: @c-transparent;

  &.isLoaded {
    opacity: 1;
    transition: opacity @td-fast ease;
  }
}

a {
  text-decoration: none;
  text-decoration: underline;
  color: @c-black--accent--clear;
}

input {
  font-family: @ff-sans;
}

.PopupOpen--noScroll {
  position: relative;
  height: 100%;
  overflow: hidden;
  overflow: 0;
  overflow-x: hidden;
}

.u-linkBlue {
  color: @c-blue--pastel;
  transition: opacity @td-fast ease;

  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

.u-button {
  height: 65px;
  width: 200px;
  font-size: 24px;
  color: @c-white;
  background: @c-blue;
  border-radius: 3px;
  border: none;
  transition: background @td-slow @ease-outQuint;

  &:hover,
  &:active {
    background: @c-blue--dark--accent;
    outline: none;
    transition: background @td-slow @ease-outQuint;
    cursor: pointer;
  }
}

.u-link {
  color: @c-black--accent--clear;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease;
  }
}

.u-w960 {
  max-width: 960px;
}

.u-w720 {
  max-width: 720px;
}

.u-w600 {
  max-width: 600px;
}

.u-minHeight {
  min-height: calc(100vh ~'-' @header-height ~'-' 10px);

  .isDesktop & {
    @media @desktop-short {
      min-height: 480px;
    }
  }
}

.u-pageLayout {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 170px 70px 50px;

  .isMobile &,
  .isTablet & {
    padding: 50px 20px 20px;
  }
}

.u-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
  padding: 0 20px 100px 20px;

  .isMobile &,
  .isTablet & {
    padding: 0;
  }
}

.u-pageTitle {
  margin-bottom: 50px;
  font-size: 38px;
  font-weight: @fw-bold;
  text-align: center;

  .isMobile &,
  .isTablet & {
    margin-bottom: 40px;
  }
}

.u-pageIcon {
  margin-left: 20px;
  vertical-align: baseline;
}

.u-pageText {
  font-family: @ff-sans;
  font-size: 16px;
  font-weight: @fw-regular;
  line-height: 24px;
  text-align: left;

  .isMobile &,
  .isTablet & {
    font-size: 16px;
    line-height: 20px;
  }

  p {
    margin-bottom: 10px;
  }
}
