@import '../../css/imports.less';
@c: .Footer;

@{c} {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 30px 30px 30px 100px;
  background: @c-background;
  border-radius: 8px;

  .boxShadow;

  @media @br-mobile {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    align-item: center;
  }

  &-left {
    display: flex;
    justify-content: space-around;
    flex: 1;

    @media @br-mobile {
      flex-direction: column;
    }
  }

  &-link {
    display: flex;
    align-items: center;
    font-size: @fs-big;
    font-weight: @fw-bold;
    color: @gradientColors[black-3];
    transition: color @td-fast @ease, text-decoration-color @td-fast @ease;

    &:hover:not(.noClass),
    &--active:not(.noClass) {
      text-decoration-color: @gradientColors[blue-1];
      color: @gradientColors[blue-1];
    }

    @media @br-mobile {
      padding-bottom: 5px;
      font-size: @fs-normal;
      font-weight: @fw-bold;

      &:last-of-type {
        padding-bottom: 0;
      }
    }
  }

  &-lastSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    @media @br-mobile {
      display: flex;
      position: absolute;
      top: 30px;
      right: 30px;
    }
  }

  &-languages {
    position: relative;
  }

  &-lang {
    height: 35px;
    width: 35px;

    &:hover {
      cursor: pointer;
    }
  }
}
