@import '../../css/imports.less';
@c: .Footer;

@{c} {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 30px 40px;
  background: @c-background;

  &-section {
    //
  }

  &-lastSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  &-lang {
    height: 35px;
    width: 35px;

    &:hover {
      cursor: pointer;
    }
  }
}
