@import '../../css/imports.less';
@c: .Footer;

@{c} {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 30px 30px 30px 100px;
  background: @c-background;
  border: 2px solid @c-base;

  &-section {
    display: flex;
    align-items: center;
  }

  &-lastSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  &-languages {
    position: relative;
  }

  &-lang {
    height: 35px;
    width: 35px;

    &:hover {
      cursor: pointer;
    }
  }

  &-link {
    &:hover {
      cursor: pointer;
    }
  }
}
