@import '../../css/imports.less';

@c: .BaseModal;

@{c} {
  position: fixed;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &-background {
    position: fixed;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: @c-traslucid--hardest;
    transform: scale(2);
  }

  &-center {
    justify-content: center;
  }

  &-content {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;

    .calcgrid(@property: width; @columns: 6; @parentColumns: 12; @addGutter: 2; @hasParentPaddings: 0);
    .calcgrid(@property: margin-left; @columns: 3; @parentColumns: 12; @addGutter: 0; @hasParentPaddings: 0);

    @media @br-desktopSmall {
      .calcgrid(@property: width; @columns: 8; @parentColumns: 12; @addGutter: 2; @hasParentPaddings: 0);
      .calcgrid(@property: margin-left; @columns: 2; @parentColumns: 12; @addGutter: 0; @hasParentPaddings: 0);
    }

    @media @br-mobile {
      .calcgrid(@property: width; @columns: 2; @parentColumns: 2; @addGutter: 0; @hasParentPaddings: 0);
      .calcgrid(@property: margin-left; @columns: 0; @parentColumns: 2; @addGutter: 0; @hasParentPaddings: 0);
    }
  }
}
