@import '../../css/imports.less';

@c: .BaseModalTitle;

@{c} {
  margin-bottom: 50px;
  font-size: @fs-huge;
  font-weight: @fw-bold;
  line-height: @fh-huge;
  text-align: center;
  color: @c-accent;
  user-select: none;
}
