@import '../../css/imports.less';

@c: .BaseModalTitle;

@{c} {
  margin-bottom: 50px;
  font-size: @fs-huge;
  font-weight: @fw-extraBold;
  line-height: @fh-huge;
  text-align: center;
  color: @gradientColors[black-2];
  user-select: none;
}
