@import '../../css/imports.less';

@c: .BookmarkRow;

@{c} {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 8px 13px 3px;

  &-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 12px;
    overflow: visible;
  }

  &-icons {
    display: flex;
    padding-left: 2px;
  }

  &-icon {
    margin-right: 5px;
  }

  &-iconHover {
    .hoverTransition(0.5);
  }

  &-title {
    line-height: 19px;

    .hoverTransition(0.8);
  }

  &-url {
    position: relative;
    font-size: @fs-small;
    line-height: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-center {
    display: flex;
    align-items: flex-end;
    flex: 1;
    margin-right: 10px;
    padding-bottom: 4px;
    overflow-x: scroll;
    overflow-y: visible;

    .hideScrollbar;

    @media @br-mobile {
      min-width: 100%;
      margin: 0;
      order: 1;
      padding: 1px 0 2px;
    }
  }

  &-tag {
    margin-right: 5px;
  }

  &-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1px 5px 2px;
  }

  &-image {
    height: 100%;
    width: 110px;
    margin-right: 20px;
    object-fit: cover;
    object-position: center;
    border: 2px solid @c-base;
  }

  &-vote {
    //
  }

  &-stats {
    display: flex;
    font-family: @ff-din;
    font-size: @fs-small;
    line-height: @fh-small;
  }

  &-stat {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-left: 5px;
    text-align: end;
  }

  &-statIcon {
    margin-right: 1px;
  }
}
