@import '../../css/imports.less';

@c: .BookmarkRowIcons;

@{c} {
  height: 100%;

  &-actionsIconsWrapper {
    display: flex;
    align-items: center;
    grid-area: icons;
    height: 100%;

    @media @br-mobile {
      position: absolute;
      grid-area: unset;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;
      pointer-events: none;

      &--mounted {
        pointer-events: unset;
      }
    }
  }

  &-actionsIcons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    @media @br-mobile {
      display: grid;
      justify-items: unset;
      position: absolute;
      justify-content: space-evenly;
      align-items: center;
      grid-area: unset;
      grid-auto-flow: column;
      grid-template: unset;
      grid-template-columns: auto;
      grid-template-rows: 1fr;
      top: 0;
      bottom: 0;
      right: 0;
      padding: 0 30px;
      background: @c-background;
      gap: 20px;
      border-radius: 4px;
      box-shadow: -2px 0 4px 2px @c-traslucid--light;
    }
  }

  &-actionsIconsBackground {
    display: none;

    @media @br-mobile {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: @c-traslucid;
    }
  }

  &-actionsIconsBackgroundCloseIcon {
    position: absolute;
    height: 10px;
    width: 10px;
    top: 10px;
    left: 10px;
    padding: 4px;
    background: @c-background;
    border-radius: 50%;

    .boxShadow;
  }

  &-icon {
    height: 18px;
    width: 18px;
    margin-left: 23px;
    fill: @gradientColors[blue-1];
    transition: fill @td-fast @ease;

    &:hover {
      fill: @gradientColors[blue-2];
      cursor: pointer;
    }

    @media @br-mobile {
      height: 10px;
      width: 10px;
    }
  }

  &-iconEdit {
    justify-self: flex-start;
    grid-area: iconEdit;
    margin-top: 0;

    &:hover {
      cursor: pointer;
    }

    @media @br-mobile {
      justify-self: unset;
      grid-area: unset;
      height: 20px;
      width: 20px;
      margin-top: 0;
      margin-right: 0;
    }
  }

  &-iconLists {
    display: flex;
    justify-self: center;
    padding-top: 2px;

    svg {
      height: 15px;
      width: 15px;
    }

    &:hover {
      cursor: pointer;
    }

    @media @br-mobile {
      justify-self: center;
      grid-area: unset;
      height: 18px;
      width: 18px;

      svg {
        height: 18px;
        width: 18px;
      }
    }
  }

  &-iconPrivate {
    &:hover {
      pointer-events: none;
    }

    @media @br-mobile {
      align-self: unset;
      height: 10px;
      width: 10px;
    }
  }
}
