@import '../../css/imports.less';

@c: .PageTransitions;

@{c} {
  &-initial {
    opacity: 0;
    transition: opacity @td-sluggish ease;
  }

  &-appear {
    opacity: 0;
    transition: opacity @td-sluggish ease;
  }

  &-appear-active {
    opacity: 1;
    transition: opacity @td-sluggish ease;
  }

  &-enter-active {
    position: fixed;
    opacity: 0;
  }

  &-enter-done {
    opacity: 1;
    transition: opacity @td-sluggish ease;
  }

  &-exit {
    opacity: 0;
    transition: opacity @td-sluggish ease;
  }

  &-exit-done {
    opacity: 0;
  }
}
