@import '../../css/imports.less';

@c: .UserLists;

@{c} {
  &-addList {
    display: flex;
    align-items: center;

    @media @br-mobile {
      display: none;
    }

    &:hover {
      cursor: pointer;

      @{c}-addListIcon {
        fill: @gradientColors[blue-2];
      }

      @{c}-addListText {
        color: @gradientColors[blue-2];
      }
    }
  }

  &-addListIcon {
    height: 12px;
    width: 12px;
    margin-right: 15px;
    fill: @c-accentLight;
    transform: rotate(45deg);
    transition: fill @td-fast @ease;
  }

  &-addListText {
    font-size: @fs-normal;
    font-weight: @fw-semibold;
    color: @c-accentLight;
    transition: color @td-fast @ease;
  }

  &-lists {
    height: 100%;
    width: 100%;
  }
}
