@import '../../css/imports.less';

@c: .NoSidebar;

@{c} {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  max-width: @lay-maxWidth;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20px 20px;

  @media @br-mobile {
    padding: 0 10px 10px;
  }

  &-noSidebarBackground {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    pointer-events: none;
    user-select: none;
  }

  &-content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &-content-content {
    .calcgrid(@property: width; @columns: 12; @parentColumns: 12; @addGutter: 0; @hasParentPaddings: 0);

    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
