@import '../../css/imports.less';

@c: .BookmarkRowSend;

@{c} {
  display: flex;
  position: relative;
  align-content: flex-end;
  max-height: 500px;

  &-iconSend {
    height: 10px;
    width: 10px;
    margin-left: 3px;
    fill: @c-base;
    transition: opacity @td-fastest @ease;

    path[data-id='foreground'],
    path[data-id='background'] {
      transition: opacity @td-fastest @ease, fill @td-fastest @ease;
    }

    path[data-id='foreground'] {
      opacity: 1;
    }

    path[data-id='background'] {
      opacity: 0;
    }

    &:hover {
      path[data-id='foreground'],
      path[data-id='background'] {
        fill: @c-error;
      }

      path[data-id='background'] {
        opacity: 1;
      }
    }
  }

  &-users {
    display: grid;
    max-height: 150px;
    min-width: 150px;
    overflow-x: hidden;
    overflow-y: scroll;
    gap: 5px;

    .hideScrollbar;
  }

  &-usersItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    transition: fill @td-fast @ease;

    &:hover {
      @{c}-usersItemIcon {
        opacity: 1;
      }
    }
  }

  &-usersItemText {
    font-weight: @fw-semibold;
    transition: color @td-fast @ease;

    .hoverTransition;

    &:hover {
      cursor: pointer;
    }
  }

  &-usersItemIcon {
    margin-left: 30px;
    opacity: 0;
    transition: transform @td-fast @ease, fill @td-fast @ease, opacity @td-fast @ease;

    .hoverTransition;

    &:hover {
      fill: @c-success;
    }
  }

  &-usersItem--alreadySent {
    @{c}-usersItemIcon {
      opacity: 1;
      pointer-events: none;

      &:hover {
        opacity: 1;
        cursor: default;
      }

      path[data-id='foreground'],
      path[data-id='background'] {
        opacity: 1;
        fill: @c-success;
      }
    }
  }

  &-usersItemLoader {
    margin-left: 30px;
    stroke: @c-success;
  }
}
