@import '../../css/imports.less';

@c: .LinkRow;

@{c} {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 10px 20px;

  &-icons {
    display: flex;
  }

  &-icon {
    margin-right: 7px;
  }

  &-iconHover {
    .hoverTransition(0.5);
  }

  &-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: calc(100% - 150px);
    margin-right: 10px;
    overflow: hidden;
  }

  &-leftTop {
    //
  }

  &-title {
    .hoverTransition(0.8);
  }

  &-url {
    position: relative;
    font-size: @fs-micro;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-tags {
    display: flex;
    overflow-x: scroll;
    overflow-y: visible;

    .hideScrollbar;
  }

  &-tag {
    margin: 0 8px 0 0;
  }

  &-right {
    display: flex;
  }

  &-image {
    height: 100%;
    width: 110px;
    margin-right: 20px;
    object-fit: cover;
    object-position: center;
    border: 2px solid black;
  }

  &-vote {
    width: 30px;
    margin-top: 1px;
  }

  &-rightEnd {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-stats {
    font-family: @ff-din;
    font-size: @fs-small;
    line-height: @fh-small;
  }

  &-stat {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    text-align: end;
  }

  &-statIcon {
    margin-right: 3px;
  }
}
