@import '../../css/imports.less';

@c: .ListRowSkeleton;

@{c} {
  display: grid;
  position: relative;
  justify-content: space-between;
  grid-template: 'left center right' auto / 1fr 2fr 0fr;
  height: 45px;
  padding: 8px 13px 7px;
  column-gap: 10px;

  @media @br-mobile {
    grid-template:
      'left right' auto
      '. .' 5px
      'center center' auto
      'center center' auto
      / 1fr 0fr;
    height: unset;
  }

  &-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: left;
  }

  &-icons {
    display: flex;
  }

  &-icon {
    height: 10px;
    width: 10px;
    min-width: 10px;
    margin-right: 5px;
  }

  &-title {
    height: 10px;
    width: 200px;
  }

  &-url {
    height: @fs-micro;
    width: 100%;
  }

  &-center {
    display: flex;
    align-items: flex-end;
    grid-area: center;
    overflow: hidden;
  }

  &-tag {
    height: 12px;
    width: 60px;
    margin-right: 4px;
  }

  &-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    grid-area: right;
  }

  &-vote {
    height: @fs-normal;
    height: 10px;
    width: 25px;
  }

  &-stat {
    display: flex;
    justify-content: flex-end;
    height: 10px;
    width: 50px;
    text-align: end;
  }
}
