@import '../../css/imports.less';

@c: .ListRowSkeleton;

@{c} {
  display: grid;
  position: relative;
  justify-content: space-between;
  grid-template: 'main tags icons' auto / 1fr 2fr 0fr;
  height: 45px;
  width: 100%;
  margin-bottom: 5px;
  padding: 8px 13px 7px;
  column-gap: 10px;
  border-radius: 4px;
  background: @c-background;

  .boxShadow;

  @media @br-mobile {
    grid-template:
      'main icons' auto
      '. .' 5px
      'tags tags' auto
      'tags tags' auto
      / 1fr 0fr;
    height: unset;
  }

  &-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: main;
  }

  &-title {
    height: @fs-normal;
    width: 200px;
  }

  &-description {
    height: @fs-nano;
    width: 100%;
  }

  &-tags {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    grid-area: tags;
    overflow: hidden;
  }

  &-tag {
    height: 12px;
    width: 60px;
    margin-right: 4px;
  }

  &-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    grid-area: icons;
  }

  &-icon {
    height: @fs-normal;
    height: 10px;
    width: 10px;
    min-width: 10px;
  }

  &-iconLarge {
    height: @fs-normal;
    height: 10px;
    width: 30px;
    min-width: 30px;
  }
}
