@import '../../css/imports.less';

@c: .ListRow;

@{c} {
  display: grid;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-template: 'left center right' auto / 3fr 2fr 0fr;
  height: 45px;
  padding: 8px 13px 7px;
  column-gap: 10px;

  @media @br-mobile {
    grid-template:
      'left right' auto
      '. .' 5px
      'center center' auto
      'center center' auto
      / 1fr 0fr;
    height: unset;
  }

  &-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: left;
    overflow: hidden;
  }

  &-favicon {
    height: 10px;
    width: 10px;
    margin-right: 5px;
  }

  &-title {
    margin-bottom: 1px;
    line-height: 19px;
    line-height: 12px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    text-overflow: ellipsis;

    .hideScrollbar;
    .hoverTransition(0.8);
  }

  &-description {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
    text-overflow: ellipsis;

    .hideScrollbar;
  }

  &-center {
    display: flex;
    align-items: flex-end;
    grid-area: center;
    overflow-x: scroll;
    overflow-y: visible;

    .hideScrollbar;
  }

  &-tag {
    margin-right: 5px;
  }

  &-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    grid-area: right;
  }

  &-image {
    height: 100%;
    width: 110px;
    margin-right: 20px;
    object-fit: cover;
    object-position: center;
    border: 2px solid @c-base;
  }

  &-action {
    margin-left: 5px;

    .hoverTransition(0.5);
  }

  &-private {
    margin-right: 5px;
  }

  &-stats {
    display: flex;
    font-family: @ff-din;
    font-size: @fs-small;
    line-height: @fh-small;
  }

  &-iconText {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    line-height: 7px;
    text-align: end;
    white-space: nowrap;
  }

  &-icon {
    margin-left: 3px;
    margin-right: 2px;
    line-height: 0;
  }

  &-listEdit {
    .hoverTransition;
  }

  &-listEdit,
  &-listFollowed,
  &-listNotFollowed,
  &-loader {
    transition: transform @td-fastest @ease, fill @td-fastest @ease, opacity @td-fastest @ease;

    path[data-id='background'] {
      opacity: 1;
      fill: @c-background;
    }
  }

  &-loader {
    background: @c-background;
    fill: @c-background;
    stroke: @c-success;
    border-radius: 50%;
  }

  &-listNotFollowed {
    fill: @c-accentLight;

    &:hover {
      fill: @c-success;
    }

    &--recentlyChanged {
      &:hover {
        fill: @c-accentLight;
      }
    }
  }

  &-listFollowed {
    fill: @c-success;

    &:hover {
      fill: @c-error;
      transform: rotate(-45deg);
    }

    &--recentlyChanged {
      &:hover {
        fill: @c-success;
        transform: rotate(-0);
      }
    }
  }
}
