@import '../../css/imports.less';

@c: .ListRow;

@{c} {
  display: flex;
  justify-content: space-between;
  padding: 8px 18px 7px 14px;

  &-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
  }

  &-icons {
    display: flex;
    margin-bottom: 2px;
  }

  &-icon {
    margin-right: 7px;
  }

  &-iconTriangle {
    transform: rotate(90deg);
  }

  &-iconHover {
    .hoverTransition(0.5);
  }

  &-title {
    margin-left: -2px;
    line-height: @fs-normal;
    .hoverTransition(0.8);
  }

  &-description {
    margin-top: -3px;
    line-height: 12px;
  }

  &-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: space-between;
    flex: 1;
    height: 41px;
    margin-right: 6px;
    padding-top: 5px;
    overflow-x: scroll;
    overflow-y: hidden;

    .hideScrollbar;
  }

  &-tag {
    margin-bottom: 4px;
    margin-right: 4px;
  }

  &-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0;
    font-family: @ff-din;
    font-size: @fs-small;
    line-height: @fh-micro;
  }

  &-stat {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    text-align: end;
  }

  &-statIcon {
    //
  }
}
