@import '../../css/imports.less';

@c: .SidebarListBookmarks;

@{c} {
  margin-bottom: 10px;
  padding: 20px;
  overflow: hidden;
  background: @c-background;
  border-radius: 4px;

  .boxShadow;

  @media @br-tablet {
    border-right: 2px solid @c-base;
  }

  &-grid {
    display: grid;
    grid-template-columns: minmax(0, 7fr) auto;
    padding-top: 10px;
    overflow: hidden;
    column-gap: 10px;
    gap: 5px;

    @media @br-tabletHorizontal {
      padding-top: 5px;
    }
  }

  &-header {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: @fs-medium;
    font-weight: @fw-extraBold;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;

    .hideScrollbar;

    @media @br-tabletHorizontal {
      font-size: @fs-normal;
      font-weight: @fw-bold;
    }
  }

  &-title {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    font-weight: @fw-semibold;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;

    @media @br-tabletHorizontal {
      font-size: @fs-small;
      text-decoration-thickness: 1.5px;
    }

    .hideScrollbar;
  }

  &-link {
    @media @br-tabletHorizontal {
      &:hover {
        text-decoration-thickness: 1.5px;
      }
    }
  }

  &-favicon {
    height: 10px;
    width: 10px;
    margin-right: 3px;
  }

  &-descriptionItem {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: @fs-small;
    text-align: right;

    @media @br-tabletHorizontal {
      font-size: @fs-nano;
    }

    .hoverTransition;
  }

  &-icon {
    height: 10px;
    width: 10px;
    transform: translateY(1px);

    @media @br-tabletHorizontal {
      height: 8px;
      width: 8px;
    }
  }
}
