@import '../../css/imports.less';

@c: .SidebarListBookmarks;

@{c} {
  padding: 20px;
  border-bottom: 2px solid @c-base;

  &-grid {
    display: grid;
    grid-template-columns: minmax(0, 7fr) auto auto;
    column-gap: 5px;
    overflow: hidden;
  }

  &-title {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    margin-right: 10px;
    font-weight: @fw-semibold;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;

    .hideScrollbar;
  }

  &-favicon {
    height: 10px;
    width: 10px;
    margin-right: 3px;
  }

  &-descriptionItem {
    font-size: @fs-small;
    text-align: right;

    .hoverTransition;
  }

  &-spacer {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
