@import '../../css/imports.less';

@c: .SidebarListBookmarksSkeleton;

@{c} {
  display: flex;
  width: 100%;

  &-item {
    display: flex;
    justify-content: space-between;
    flex: 1;
    width: 100%;
  }

  &-left {
    width: 70%;
  }

  &-right {
    width: 10%;
  }
}
