@import '../../css/imports.less';

@c: .SidebarListBookmarks;

@{c} {
  &-bookmarks {
    //
  }

  &-bookmark {
    display: flex;
    justify-content: space-between;
  }

  &-detail {
    &:hover {
      cursor: default;
    }
  }
}
