@import '../../css/imports.less';

@c: .SidebarListTagsRefactor;

@{c} {
  padding-bottom: 14px;

  &-tags {
    display: flex;
    flex-wrap: wrap;
  }

  &-tag {
    margin-bottom: 6px;
    margin-right: 6px;
  }
}
