@import '../../css/imports.less';

@c: .SidebarListLists;

@{c} {
  padding: 20px;
  border-bottom: 2px solid @c-base;

  @media @br-tablet {
    border-right: 2px solid @c-base;
  }

  &-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: @fs-medium;
    font-weight: @fw-extraBold;

    @media @br-tabletHorizontal {
      font-size: @fs-normal;
      font-weight: @fw-bold;
    }
  }

  &-itemHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &-grid {
    display: grid;
    grid-template-columns: 4fr auto auto;
    column-gap: 5px;
    padding-top: 10px;
    gap: 5px;
  }

  &-descriptionItem {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: @fs-micro;
    font-weight: @fw-semibold;
    text-align: right;

    &:hover {
      cursor: default;
    }
  }

  &-link {
    font-size: @fs-normal;
    text-decoration-thickness: 2px;
    font-weight: @fw-semibold;
  }

  &-spacer {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  &-triangle {
    display: none;
    stroke: @c-base;
    transform: rotate(90deg);
    transition: transform @td-fast @ease-outQuint;
    stroke-width: 10px;

    &--show {
      transform: rotate(180deg);
    }
  }
}
