@import '../../css/imports.less';

@c: .SidebarListLists;

@{c} {
  &-grid {
    display: grid;
    grid-template-columns: 4fr auto auto;
    column-gap: 5px;
  }

  &-descriptionItem {
    text-align: right;

    .hoverTransition;
  }

  &-spacer {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  &-triangle {
    fill: @c-transparent;
    stroke: @c-base;
    stroke-width: 10px;
    transform: rotate(90deg);

    &--show {
      transform: rotate(180deg);
    }
  }
}
