@import '../../css/imports.less';

@c: .SidebarListLists;

@{c} {
  &-lists {
    //
  }

  &-list {
    display: flex;
    justify-content: space-between;
    line-height: @fh-normal;
  }

  &-listName {
    //
  }

  &-listDescription {
    &:hover {
      cursor: default;
    }
  }

  &-icon {
    margin-right: 3px;
  }
}
