@import '../../css/imports.less';

@c: .NotFound;

@{c} {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

  &-dinosaur {
    font-size: @fs-biggest;
  }
}
