@import '../../css/imports.less';

@c: .NotFound;

@{c} {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

  @media @br-mobile {
    padding: 40px;
    background: @c-background;
    border-radius: 4px;

    .boxShadow;
  }

  &-link {
    @media @br-mobile {
      text-decoration-color: @c-base;
    }
  }

  &-dinosaur {
    font-size: @fs-biggest;
  }
}
