@import '../../css/imports.less';

@c: .HeaderSecond;

@{c} {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 10px 0;
  font-size: @fs-small;
  font-weight: @fw-extraBold;
  white-space: nowrap;

  @media @br-tabletHorizontal {
    font-size: @fs-micro;
  }

  &-item {
    display: flex;
    align-items: center;
    padding: 10px;

    @media @br-tabletHorizontal {
      padding: 5px 20px;
    }
  }

  &-main {
    position: relative;
    flex: 1;
    overflow: hidden;
    background: @gradientColors[green-1];
    border-radius: 4px;

    &:before,
    &:after {
      content: ' ';
      position: absolute;
      width: 10px;
      top: 0;
      bottom: 0;
      background: @gradientColors[green-1];
    }

    &:before {
      right: 0;
    }

    &:after {
      left: 0;
    }

    .boxShadowLight;
    .hideScrollbar;
  }

  &-mainElement {
    display: flex;
    padding: 0 20px;
    font-size: @fs-normal;
    font-weight: @fw-semibold;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;

    .hideScrollbar;

    @media @br-mobile {
      padding: 0 20px 0 0;
    }
  }

  &-bookmarkItem {
    display: flex;
    align-items: center;
  }

  &-favicon {
    height: 10px;
    width: 10px;
  }

  &-date {
    margin: 0 10px;
    white-space: nowrap;
    background: @gradientColors[yellow-1];
    border-radius: 4px;

    .boxShadowLight;
  }

  &-clock {
    flex-shrink: 0;
    border-radius: 4px;
    height: 50px;
    width: 50px;
    white-space: nowrap;
    background: @gradientColors[red-2];

    .boxShadowLight;

    @media @br-tabletHorizontal {
      height: 40px;
      width: 40px;
      padding: 5px;
    }
  }
}
