<!DOCTYPE html>
<html class="Linking-extension">
  <head>
    <meta charset="utf-8" />
    <title>Linking extension</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="preload">
    <div id="app"></div>
  </body>
</html>
