@import '../../css/imports.less';

@c: .UserBookmarks;

@{c} {
  &-header {
    display: flex;
    width: 100%;
    padding: 5px;
    background: @c-background;
    border-bottom: 1px solid @c-accentLight-hard;
  }

  &-headerTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
    padding: 5px 10px;
    font-weight: @fw-extraBold;
    background: @c-background;
    border-bottom: 1px solid @c-accentLight-hard;

    @media @br-mobile {
      margin-bottom: 5px;
      padding: 5px 5px 5px 15px;
    }
  }

  &-select {
    flex: 1;

    @media @br-mobile {
      padding-right: 8px;
    }
  }

  &-sortBy {
    @media @br-mobile {
      padding-left: 16px;

      &:before {
        content: ' ';
        position: absolute;
        width: 2px;
        top: 4px;
        bottom: 4px;
        left: 0;
        background: @c-traslucid;
      }
    }
  }

  &-bookmarks {
    height: 100%;
    width: 100%;
  }
}
