@import '../../css/imports.less';

@c: .UserBookmarks;

@{c} {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  grid-area: main;

  &-header {
    border-radius: 4px;
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    background: @c-background;

    .boxShadow;
  }

  &-headerTitle {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: @fw-extraBold;
    background: @c-background;
    border-radius: 4px;

    .boxShadow;

    @media @br-mobile {
      margin-bottom: 5px;
      padding: 10px 15px;
    }
  }

  &-select {
    flex: 1;

    @media @br-mobile {
      padding-right: 8px;
    }
  }

  &-sortBy {
    @media @br-mobile {
      padding-left: 16px;

      &:before {
        content: ' ';
        position: absolute;
        width: 2px;
        top: 4px;
        bottom: 4px;
        left: 0;
        background: @c-traslucid;
      }
    }
  }

  &-bookmarks {
    width: 100%;
    min-height: 50vh;
  }

  &-sidebarListUsersFirst {
    // padding: 0 20px 20px;
  }

  &-noResults {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: @fw-semibold;
    background: @c-background;
    border-radius: 4px;

    .boxShadow;
  }
}
