@import '../../css/imports.less';

@c: .BookmarkLists;

@{c} {
  position: relative;

  &-listIcon {
    fill: @c-base;

    .hoverTransition;
  }

  &-lists {
    max-height: 400px;
    overflow-y: scroll;

    .hideScrollbar;
  }

  &-listsItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    transition: fill @td-fast @ease;

    .hoverTransition;

    &:hover {
      @{c}-listsItemIcon {
        opacity: 1;
        fill: @c-success;
      }
    }

    &--included {
      color: @c-success;
      fill: @c-success;

      @{c}-listsItemText {
        transition: color @td-fast @ease;
      }
      @{c}-listsItemIcon {
        transition: transform @td-fast @ease, fill @td-fast @ease;
      }

      &:hover {
        color: @c-error;
        cursor: pointer;

        @{c}-listsItemIcon {
          fill: @c-error;
          transform: rotate(45deg);
        }
      }
    }
  }

  &-listsItemText {
    //
  }

  &-listsItemIcon {
    margin-left: 30px;
    opacity: 1;
    transition: opacity @td-fast @ease, fill @td-fast @ease;
  }

  &-listsItemLoader {
    margin-left: 30px;
    stroke: @c-success;
  }

  &-listNameInput {
    .Input-input {
      padding: 0;
    }
  }

  &-button {
    .Button-content {
      padding: 0;
    }
    //
  }
}
