@import '../../css/imports.less';

@c: .Notes;

@{c} {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 20px;
  background: @c-background;

  &-user {
    font-size: @fs-micro;
    font-weight: @fw-semibold;
    color: @c-brand;

    .hoverTransition;
  }

  &-content {
    font-size: @fs-micro;
    font-weight: @fw-medium;
  }
}
