@import '../../css/imports.less';

@c: .SidebarLeft;

@{c} {
  width: 100%;
  line-height: @fh-biggest;

  li {
    display: flex;
    align-items: center;
  }

  &-item {
    &:hover {
      cursor: pointer;
    }
  }
}
