@import '../../css/imports.less';

@c: .SidebarLeftUsers;

@{c} {
  margin-bottom: 5px;

  &-follower {
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 20px;
    font-size: @fs-small;
    font-weight: @fw-medium;
    white-space: nowrap;
    color: @gradientColors[black-4];
    overflow-x: scroll;
    overflow-y: hidden;
    transition: color @td-fast @ease;
    text-overflow: ellipsis;

    .hideScrollbar;

    &:hover,
    &--active {
      color: @gradientColors[blue-1];
      cursor: pointer;
    }
  }
}
