@import '../../css/imports.less';

@c: .SidebarLeftUsers;

@{c} {
  margin-bottom: 5px;

  &-user {
    position: relative;
    height: 20px;
    white-space: nowrap;
    font-size: @fs-normal;
    font-weight: @fw-medium;
    color: @gradientColors[black-2];
    overflow-x: scroll;
    overflow-y: hidden;
    transition: color @td-fast @ease;
    text-overflow: ellipsis;
    margin: 7px 0;

    .hideScrollbar;

    &:hover,
    &--active {
      color: @gradientColors[blue-1];
      cursor: pointer;

      svg {
        fill: @gradientColors[blue-1];
      }
    }
  }

  &-icon {
    height: 15px;
    width: 15px;
    margin-right: 3px;
    fill: @c-accent;
  }
}
