@import '../../css/imports.less';

@c: .SidebarLeft;

@{c} {
  width: 100%;

  * {
    line-height: @fh-big;
  }

  li {
    display: flex;
    align-items: center;
  }

  &-item {
    &:hover {
      cursor: pointer;
    }
  }
}
